@mixin respond-to-ie($versions: ('')) {
    $selectors: ();
    @each $version in $versions {
        $selectors: append($selectors, unquote('.ie#{$version} &'), comma);
        $selectors: append($selectors, unquote('.cui__browser--ie#{$version} &'), comma);
    }

    #{$selectors} {
        @content;
    }
}
