// ***
// Adds all atributes to define the best typography as possible
// ***
@mixin typography($size, $weight) {
    font-size: $size;

    font-family: $base-font-family;
    font-weight: map-get($font-weights, $weight);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

@mixin font-size($size) {
    font-size: rem2px($size);
}
