@import "../src/bootstrap";

// ================================================================
//  SETTINGS
// ================================================================

// Text settings
$text-color: #555;
$font-size: 14px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$light-grey: #ddd;

// Page dimensions
$page-width: 480px;


// ================================================================
//  STYLES
// ================================================================
* {
    @include prefixer(box-sizing, border-box, moz webkit spec);
}

body {
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;
    max-width: $page-width;
    margin: 0 auto;
    padding-bottom: 4em;
}

// Atoms
pre {
    margin: 0;
    white-space: nowrap;
}

code {
    background: $light-grey;
    display: block;
    padding: 0 1em;
    width: 100%;
    white-space: pre-wrap;
}

// Component presentation
.component-presentation--tooltip [class^="cui__tooltip--small"],
.component-presentation--tooltip [class^="cui__tooltip--large"] {
    left: 50%;
}

button {
    width: 100%;
}

input {
    width: 100%;
}
