doctype html
html.cui__baseline(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title UI Toolkit

    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")
    link(rel='stylesheet' href="//cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css")

    link(rel='stylesheet' href='dist/ui-toolkit.css')
    link(rel='stylesheet' href='docs/support/doc.css')
    link(rel='stylesheet' href='docs/support/hljs.css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js")

  body
    nav
      ul#menu
        each doc in docs
          li
            a(href="##{doc.name}")!= doc.name

    main
      each doc in docs
        section(id="#{doc.name}")
          != doc.parsedContent

    script.

        // helpers for documentation

        $('input.cui__field__input').focus(function(){
          $(this).parent().addClass('is-focused');
        })

        $('input.cui__field__input').blur(function(){
          $(this).parent().removeClass('is-focused');
        })

        function floatingLabel(input) {
          if(input.value){
            $(input).parent().addClass("is-filled");
          } else {
            $(input).parent().removeClass("is-filled");
          }
        }

        function anchor(url) {
          var matches = url.match(/#(.+)/);
          if(! matches)
            return "Getting started";
          return matches[1].split("/")[0];
        }
        $('[id="' + anchor(location.href) + '"]').show();

        $('#menu a').click(function(){
          $('section').hide();
          $('[id="' + anchor(this.href) + '"]').show();
        })

        $('.toggle-grid').click(function(){
          if(this.grid == 'on') {
            this.grid = 'off'
            $(this).text('Grid off');
            $(this).parent().removeClass('cui__baseline__grid');
          } else {
            this.grid = 'on'
            $(this).parent().addClass('cui__baseline__grid');
            $(this).text('Grid on');
          }
        })

        hljs.initHighlightingOnLoad();

