mixin code()
  .presentation-example
    block
  pre
    - var oldBuf = buf;
    - buf = [];
    block
    - buf  = oldBuf.concat(buf.map(jade.escape));
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title UI Toolkit

    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")
    link(rel='stylesheet' href='ui-toolkit.css')
    link(rel='stylesheet' href='support/doc.css')
    link(rel='stylesheet' href='bower_components/ss-pika/webfonts/ss-pika.css')

    script(type='text/javascript' src='ui-toolkit.js')

  body

    nav
      .inner
        a(href='#home')
          span.ss-pika.ss-home
        a(href='#buttons') Buttons
        a(href='#headers') Headers
        a(href='#form') Form
        a(href='#links') Links
        a(href='#icons') Icons
        a(href='#logos') Logos
        a(href='#misc') Misc

    #home.main
      h2#buttons.presentation Buttons

      h3 Primary button
      +code()
        include snippets/button--primary.html


      p Small
      +code()
        include snippets/button--primary--small.html


      p Big
      +code()
        include snippets/button--primary--big.html


      p Loading
      +code()
        include snippets/button--primary--loading.html


      p Big loading
      +code()
        include snippets/button--primary--big--loading.html


      p Disabled
      +code()
        include snippets/button--primary--disabled.html


      h3 Secondary button
      +code()
        include snippets/button--secondary.html


      p Small
      +code()
        include snippets/button--secondary--small.html


      p Big
      +code()
        include snippets/button--secondary--big.html


      p Loading
      +code()
        include snippets/button--secondary--loading.html


      p Big loading
      +code()
        include snippets/button--secondary--big--loading.html


      p Disabled
      +code()
        include snippets/button--secondary--disabled.html




      h2#headers.presentation Headers

      h3 Main Header
      +code()
        include snippets/main-header.html


      h3 Subtle Header
      +code()
        include snippets/subtle-header.html



      h2#form.presentation Form elements

      h3 Checkbox
      +code()
        include snippets/checkbox.html

      +code()
        include snippets/checkbox--checked.html


      h3 Switch
      +code()
        include snippets/switch.html
      +code()
        include snippets/switch--pressed.html
      +code()
        include snippets/switch--checked.html
      +code()
        include snippets/switch--checked-pressed.html


      h3 Input
      +code()
        include snippets/field.html

      p Disabled
      +code()
        include snippets/field--disabled.html

      p Loading
      +code()
        include snippets/field--loading.html

      p With label (toggled by .show-label on field)
      +code()
        include snippets/field--with-label.html

      p With icon
      +code()
        include snippets/field--with-icon.html

      p Joined fieldset
      +code()
        include snippets/field--joined-fieldset-grid.html
      +code()
        include snippets/field--joined-fieldset-row.html
      +code()
        include snippets/field--joined-fieldset-col.html

      p With tooltip
      +code()
        include snippets/field--with-tooltip.html

      script.
        UIToolkit.tooltip(document.querySelector('.cui__tooltip__icon'));

      p With fake focus
      +code()
        include snippets/field--with-fake-focus.html


      p Field and button
      +code()
        include snippets/field-and-button.html


      p Error in the data
      p Notes:
        ul
          li is-invalid, and is-error/is-warning, must be added to multiple elements, as shown below. <em>This is required for compatibility with Android and IE.</em>
          li the error/warning messages <em>must</em> be short enough to fit on a single line
      +code()
        include snippets/field--invalid.html

      script.
        var cuiEditorWrappers = document
          .querySelectorAll(
            '.cui__editor-wrapper, .cui__editor-wrapper--with-icon');
        var cuiEditors = document
          .querySelectorAll(
            '.cui__editor--text, .cui__editor--with-icon');

        for (var i = 0; i < cuiEditorWrappers.length; i ++) {
          UIToolkit.fakePlaceholders(cuiEditors[i], cuiEditorWrappers[i]);
        }


      h3 Select
      +code()
        include snippets/select.html

      p With fake focus
      +code()
        include snippets/select--with-fake-focus.html

      p Joined fieldset
      +code()
        include snippets/select--joined-fieldset.html



      h2#links.presentation Links

      p Highlighted
      +code()
        include snippets/link--highlighted.html


      p Non highlighted
      +code()
        include snippets/link--non-highlighted.html


      p Non highlighted, standalone
      +code()
        include snippets/link--non-highlighted--standalone.html



      h2#icons.presentation Icons

      h3 Custom Icons
      +code()
        include snippets/icon--custom.html



      h2#logos.presentation Logos

      h3 Card logos
      +code()
        include snippets/logos--cards.html



      h2#misc.presentation Misc

      h3 Tooltip icon
      +code()
        include snippets/tooltip.html

      p Inline
      +code()
        include snippets/tooltip--inline.html

      h3 Loader
      +code()
        include snippets/loader.html

      h3 Bubble
      +code()
        include snippets/bubble.html

      p Below some other container
      +code()
        include snippets/bubble--below.html

      h3 Tagline
      +code()
        include snippets/tagline.html
