doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title UI Toolkit

    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")
    link(rel='stylesheet' href='ui-toolkit.css')
    link(rel='stylesheet' href='support/doc.css')
    link(rel='stylesheet' href='support/hljs.css')

    link(rel='stylesheet' href='bower_components/ss-pika/webfonts/ss-pika.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js")

    script(type='text/javascript' src='ui-toolkit.js')

  body
    nav
      ul#menu
        each doc in docs
          li
            a(href="##{doc.name}")!= doc.name

    main
      each doc in docs
        section(id="#{doc.name}")
          != doc.parsedContent

    script.

        // helpers for documentation

        function floatingLabel(input) {
          if(input.value){
            $(input).parent().addClass("is-filled");
          } else {
            $(input).parent().removeClass("is-filled");
          }
        }

        function anchor(url) {
          var matches = url.match(/#(.+)/);
          if(! matches)
            return "Getting started";
          return matches[1].split("/")[0];
        }
        $('[id="' + anchor(location.href) + '"]').show();

        $('#menu a').click(function(){
          $('section').hide();
          $('[id="' + anchor(this.href) + '"]').show();
        })

        hljs.initHighlightingOnLoad();

