/*@include keyframes(spin) {*/
/*to {*/
/*@include transform(rotate(1turn))*/
/*}*/
/*}*/
/*******************************************************************************
.some-css-selector1,
.some-css-selector2 {
    padding: 20px;

    @include respond-to-ie { // Targets all IE browsers
        padding-top: 22px;
    }
}

.some-css-selector1,
.some-css-selector2 {
    padding: 20px;

    @include respond-to-ie(8) { // Targets only IE 8
        padding-top: 22px;
    }
}

.some-css-selector1,
.some-css-selector2 {
    padding: 20px;

    @include respond-to-ie((8,9)) { // Targets both IE 8 and IE 9
        padding-top: 22px;
    }
}
*******************************************************************************/
/**
 * Adds all atributes to define the best typography as possible
 */
/**
 * Convert px to rem
 */
/**
 * Render font size in rem, with fallback to px
 */
/**
 * Calculate rhythm units
 * http://compass-style.org/reference/compass/typography/vertical_rhythm/#function-rhythm
 */
/**
 * Apply a border and whitespace to any side without destroying the vertical rhythm. The whitespace must be greater than the width of the border.
 * http://compass-style.org/reference/compass/typography/vertical_rhythm/#mixin-apply-side-rhythm-border
 */
/**
 * Render calc() with vendor prefixes
 * Provide $fallback for not supportin browsers (IE8)
 */
.cui__button--primary {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background: #0074c8;
  border-radius: 5px;
  border: 1px solid #0074c8;
  color: white;
  cursor: pointer;
  line-height: 48px;
  outline: none;
  padding: 0 48px;
  text-align: center;
  text-decoration: none;
  vertical-align: top; }
  .cui__button--primary.-small {
    font-size: 14px;
    line-height: 38px;
    padding: 0 28px; }
  .cui__button--primary.-big {
    letter-spacing: 0.4px;
    line-height: 58px;
    padding: 0 68px;
    text-transform: uppercase; }
  .cui__button--primary:hover {
    background-color: #0065ad;
    border-color: #0065ad; }
  .cui__button--primary:active {
    background-color: #005694;
    border-color: #005694; }
  .cui__button--primary.is-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    opacity: 0.2;
    cursor: default; }
    .cui__button--primary.is-disabled:hover {
      background: #0074c8; }
    .cui__button--primary.is-disabled:active {
      background: #0074c8; }
  .cui__button--primary__loader {
    background-image: url("img/atoms/button/button--primary__loader.png");
    animation: spin 0.8s linear infinite;
    -webkit-animation: spin 0.8s linear infinite;
    display: inline-block;
    font-size: 0;
    height: 20px;
    vertical-align: text-bottom;
    width: 20px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .cui__button--primary__loader {
        background-image: url("img/atoms/button/button--primary__loader@2x.png");
        background-size: 20px 20px; } }
    .ie8 .cui__button--primary__loader, .cui__browser--ie8 .cui__button--primary__loader, .ie9 .cui__button--primary__loader, .cui__browser--ie9 .cui__button--primary__loader {
      font-size: 15px;
      font-size: 0.9375rem; }
    .cui__button--primary__loader:before {
      content: url("img/atoms/button/button--primary__loader.png");
      display: none;
      height: 0;
      width: 0; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .cui__button--primary__loader:before {
          content: url("img/atoms/button/button--primary__loader@2x.png"); } }

.cui__button--secondary {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background: white;
  border-radius: 5px;
  border: 1px solid #0074c8;
  color: #0074c8;
  cursor: pointer;
  line-height: 48px;
  outline: none;
  padding: 0 48px;
  text-align: center;
  text-decoration: none;
  vertical-align: top; }
  .cui__button--secondary.-small {
    font-size: 14px;
    line-height: 38px;
    padding: 0 28px; }
  .cui__button--secondary.-big {
    letter-spacing: 0.4px;
    line-height: 58px;
    padding: 0 68px;
    text-transform: uppercase; }
  .cui__button--secondary:hover {
    color: #0065ad;
    border-color: #0065ad; }
  .cui__button--secondary:active {
    color: #005694;
    border-color: #005694; }
  .cui__button--secondary.is-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    opacity: 0.2;
    cursor: default; }
    .cui__button--secondary.is-disabled:hover {
      background: white; }
    .cui__button--secondary.is-disabled:active {
      background: white; }
  .cui__button--secondary__loader {
    background-image: url("img/atoms/button/button--secondary__loader.png");
    animation: spin 0.8s linear infinite;
    -webkit-animation: spin 0.8s linear infinite;
    display: inline-block;
    font-size: 0;
    height: 20px;
    vertical-align: text-bottom;
    width: 20px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .cui__button--secondary__loader {
        background-image: url("img/atoms/button/button--secondary__loader@2x.png");
        background-size: 20px 20px; } }
    .ie8 .cui__button--secondary__loader, .cui__browser--ie8 .cui__button--secondary__loader, .ie9 .cui__button--secondary__loader, .cui__browser--ie9 .cui__button--secondary__loader {
      font-size: 15px;
      font-size: 0.9375rem; }
    .cui__button--secondary__loader:before {
      content: url("img/atoms/button/button--secondary__loader.png");
      display: none;
      height: 0;
      width: 0; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .cui__button--secondary__loader:before {
          content: url("img/atoms/button/button--secondary__loader@2x.png"); } }

.cui__field {
  border: 1px solid #cbcbcd;
  box-sizing: border-box;
  position: relative;
  height: 50px;
  border-radius: 5px; }
  .cui__field.-big {
    height: 60px; }
  .cui__field.is-hidden {
    display: none; }
  .cui__field:focus {
    outline: none; }
  .cui__field:hover {
    border: 1px solid rgba(26, 140, 220, 0.8); }
  .cui__field.is-focused {
    border: 1px solid rgba(26, 140, 220, 0.8);
    box-shadow: 0 0 4px rgba(26, 140, 220, 0.6); }
  .cui__field.is-error {
    background-color: #fff8f7;
    border-color: #e6bebe; }
  .cui__field.is-warning {
    background-color: #fffaf0;
    border-color: #e6c88c; }
    .ie8 .cui__field.is-warning, .cui__browser--ie8 .cui__field.is-warning {
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFAF0, endColorstr=#FFFFFAF0)"; }

.cui__field__label {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  color: #9e9ea0;
  position: absolute;
  transform: translate(12px, 12px);
  transition: all 0.16s cubic-bezier(0, 0.98, 0.39, 1); }
  .-big .cui__field__label {
    transform: translate(12px, 17px); }
  .-big.is-filled .cui__field__label, .-big.is-error .cui__field__label, .-big.is-warning .cui__field__label {
    transform: translate(12px, 6px); }
  .is-filled .cui__field__label, .is-error .cui__field__label, .is-warning .cui__field__label {
    font-size: 11px;
    font-size: 0.6875rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    transform: translate(13px, 3px); }
  .is-filled .cui__field__label {
    color: #9e9ea0; }
  .is-error .cui__field__label {
    color: #e63200; }
  .is-warning .cui__field__label {
    color: #ecb800; }

.cui__field__input {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: #3C3C3E;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  height: 48px; }
  .-big .cui__field__input {
    height: 58px; }
  .-big.is-filled .cui__field__input, .-big.is-error .cui__field__input, .-big.is-warning .cui__field__input {
    height: 38px;
    top: 18px; }
  .is-filled .cui__field__input, .is-error .cui__field__input, .is-warning .cui__field__input {
    height: 38px;
    top: 10px; }
  .safari .cui__field__input, .ios .cui__field__input {
    -webkit-transform: translate3d(0, 0, 0); }
  .ie8 .cui__field__input, .cui__browser--ie8 .cui__field__input {
    border: 1px solid #cbcbcd; }
  .cui__field__input:focus, .cui__field__input:hover {
    outline: none; }
  .cui__field__input::-ms-clear {
    width: 0;
    height: 0; }
