$editor-with-icon-padding-left: 41px;

.cui__field {
    @include box-sizing(border-box);

    position: relative;

    &.is-hidden {
        display: none;
    }

    &:focus {
        outline: none;
    }
}


.cui__placeholder {
    color: $editor-placeholder-color;
    font-weight: normal;
}

.cui__editor--text {
    @include appearance(none);
    @include box-sizing(border-box);
    @include font-size(15px);
    @include transition(padding 0.1s ease-in);

    @include placeholder {
        color: $editor-placeholder-color;
        font-weight: normal;
    }

    background-color: white;
    border: 1px solid $input-border-inner-color;
    border-radius: 0;
    color: $input-editor-color;
    font-weight: 600;
    line-height: 19px;
    margin: 0;
    padding: 12px;
    position: relative;
    width: 100%;
    height: 45px;

    @include respond-to-ie(8) {
        border: 1px solid $input-border-inner-color;
    }

    @include respond-to-ie-and-stock {
        background-color: transparent;
        // base64 encoded version of `img/molecules/field/field.background.png`
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');
        z-index: 2;

        &[disabled] {
            background-color: transparent;
            // base64 encoded version of `img/molecules/field/field.background.disabled.png`
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNi4AIAABMADSrGmbwAAAAASUVORK5CYII=');
        }
    }

    &:focus, &:hover {
        outline: none;
    }

    &:focus {
        border: 1px solid $input-border-color-focus;
        border-radius: 2px;

        box-shadow:
            inset 0 1px 1px 0 $input-box-shadow-color-inset,
            inset 0 1px 3px hsla(0, 0%, 0%, 0.06),
            0 0 3px 1px $input-border-color-focus;

        z-index: 1;

        @include respond-to-ie(8) {
            border: 1px solid $input-border-color-focus;
        }
    }

    &::-webkit-input-placeholder {
        color: $editor-placeholder-color;
    }

    //  Firefox 19+
    &::-moz-placeholder {
        color: $editor-placeholder-color;
        opacity: 1;
    }

    &[disabled] {
        background: $input-disabled-background-color;
        color: $input-disabled-color;
        -webkit-text-fill-color: $input-disabled-color;
        opacity: 1;

        &::-webkit-input-placeholder {
            color: $editor-placeholder-color;
        }

        //  Firefox 19+
        &::-moz-placeholder {
            color: $input-disabled-color;
            opacity: 1;
        }
    }

    &.is-invalid,
    &.is-error,
    &.is-warning,
    .show-label & {
        padding-bottom: 2px;
        padding-top: 16px;
    }

    &.is-error {
        background-color: $input-error-background-color;
    }

    &.is-warning {
        background-color: $input-warning-background-color;
    }
}

.cui__editor--with-icon {
    @extend .cui__editor--text;

    padding-left: $editor-with-icon-padding-left;
}

.cui__editor-wrapper {
    height: 44px;
    position: relative;

    @include respond-to-ie-and-stock {
        &:after {
            @include font-size(15px);

            box-sizing: border-box;
            color: $editor-placeholder-color;
            content: attr(data-placeholder);
            display: block;
            height: 45px;
            left: 0;
            line-height: 45px;
            padding: 0 13px;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        &.is-invalid:after {
            padding-top: 7px;
        }

        &.is-placeholder-hidden:after {
            display: none;
        }
    }
}

.cui__editor-wrapper--with-icon {
    @extend .cui__editor-wrapper;

    @include respond-to-ie-and-stock {
        &:after {
            padding-left: $editor-with-icon-padding-left;
        }
    }
}

.cui__editor-wrapper__loader {
    @extend .cui__loader--small;

    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 1;
}

@mixin field_tooltip($text-color) {
    @extend %show-tooltip;
    @include font-size(11px);
    @include box-sizing(border-box);


    border-radius: 0;
    top: 9px;
    left: 13px;
    color: $text-color;
    display: none;
    font-weight: normal;
    line-height: 1em;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 10;

    &:after {
        @include respond-to-ie(8) {
            display: none;
        }
    }

    &.is-visible {
        display: block;
    }
}

.cui__field__error-tooltip {
    @include field_tooltip($input-tooltip-text-color);
}

.cui__field__warning-tooltip {
    @include field_tooltip($input-tooltip-text-color--warning);
}

.cui__label {
    @include field_tooltip($editor-placeholder-color);
}


// ================================================================
//  GROUP FIELDS
// ================================================================
@mixin field-separator {
    position: relative;

    &:before {
        content: " ";
        border-left: 1px solid #ddd;
        height: 43px;
        position: absolute;
        width: 0;
        left: -1px;
        bottom: 0;
        display: block;
    }

    @include respond-to-ie {
        &:before {
            height: 25px;
        }
    }
}

@mixin editor-separator {
    &:focus {
        margin-left: -1px;
    }

    *:focus + & {
        margin-left: -1px;

        @include respond-to-ie {
            margin-left: 0;
        }
    }
}

.cui__field--is-left {
    float: left;
}

.cui__editor--is-left {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include respond-to-ie {
        border-right: 0;
    }
}

.cui__field--is-middle {
    float: left;

    @include field-separator;
}

.cui__editor--is-middle {
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    @include editor-separator;

    @include respond-to-ie {
        border-left: 0;
        border-right: 0;
    }
}

.cui__field--is-right {
    float: left;

    @include field-separator;
}

.cui__editor--is-right {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include editor-separator;

    @include respond-to-ie {
        border-left: 0;
    }
}
