$editor-with-icon-padding-left: 41px;
$ease-out: cubic-bezier(0, 0, 0.01, 0.99);

.cui__field {
    @include box-sizing(border-box);

    border: 1px solid $border-color;
    position: relative;
    height: 50px;
    border-radius: $border-radius;

    &.-big {
      height: 60px;
    }

    &.is-hidden {
        display: none;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        border: 1px solid $border-color-focus;
    }

    &.is-focused {
        border: 1px solid $border-color-focus;
        box-shadow: 0 0 4px $box-shadow-focus;
    }

    &.is-error {
        background-color: #fff8f7;
        border-color: #e6bebe;
    }

    &.is-warning {
        background-color: #fffaf0;
        border-color: #e6c88c;

        @include respond-to-ie(8) {
            $ie-hex: ie-hex-str($input-warning-background-color-rgba);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex}, endColorstr=#{$ie-hex})";
        }
    }
}

.cui__field__label {
    @include transform(translate(12px, 12px));
    @include typography(15px, regular);
    @include transition(all .16s cubic-bezier(0,.98,.39,1));

    color: map-get($colors, 'grey-text');
    position: absolute;

    .-big & {
      @include transform(translate(12px, 17px));
    }

    .-big.is-filled &, .-big.is-error &, .-big.is-warning & {
      @include transform(translate(12px, 6px));
    }

    .is-filled &, .is-error &, .is-warning & {
        @include typography(11px, regular);
        @include transform(translate(13px, 3px));
    }

    .is-filled & {
        color: map-get($colors, 'grey-text');
    }

    .is-error & {
        color: #e63200;
    }

    .is-warning & {
        color: #ecb800;
    }
}

.cui__field__input {
    @include appearance(none);
    @include box-sizing(border-box);
    @include typography(15px, semi-bold);

    border: 0;
    background-color: transparent;
    color: $input-editor-color;
    position: absolute;
    width: 100%;
    padding: 0 12px;

    height: 48px;

    .-big & {
      height: 58px;
    }

    .-big.is-filled &, .-big.is-error &, .-big.is-warning & {
      height: 38px;
      top: 18px;
    }

    .is-filled &, .is-error &, .is-warning & {
        height: 38px;
        top: 10px;
    }

    .safari &,
    .ios & {
        -webkit-transform: translate3d(0, 0, 0);
    }

    @include respond-to-ie(8) {
        border: 1px solid $border-color;
    }

    &:focus, &:hover {
        outline: none;
    }

    // Disable clear field icon for IE10+
    &::-ms-clear {
        width : 0;
        height: 0;
    }
}
