.cui__field {
    @include box-sizing(border-box);
    position: relative;
    margin-bottom: $input-line-height / 2;


    &.is-hidden {
        display: none;
    }

    &:focus {
        outline: none;
    }
}


.cui__placeholder {
    font-weight: normal;
    color: $editor-placeholder-color;
}


.cui__editor--text {
    @include box-sizing(border-box);
    @include appearance(none);
    @include font-size(15px);

    @include placeholder {
        font-weight: normal;
        color: $editor-placeholder-color;
    }

    width: 100%;
    background-color: white;
    border-radius: $input-border-radius;
    border: 1px solid $input-box-shadow-color;
    line-height: 19px;
    font-weight: 600;
    color: $input-editor-color;
    padding: 12px;
    position: relative;

    @include respond-to-ie(8) {
        border: 1px solid $input-box-shadow-color;
    }

    @include respond-to-ie-and-stock {
        background-color: transparent;
        background-image: url($input-transparent-background-image);
        z-index: 2;
    }

    &:focus, &:hover {
      outline: none;
    }

    &:focus {

        border: 1px solid $input-border-color-focus;
        border-radius: 2px;

        box-shadow:
            inset 0 1px 1px 0 $input-box-shadow-color-inset,
            inset 0 1px 3px hsla(0, 0%, 0%, 0.06),
            0 0 3px 1px $input-border-color-focus;

        z-index: 1;

        @include respond-to-ie(8) {
          border: 1px solid $input-border-color-focus;
        }
    }

    &::-webkit-input-placeholder {
        color: $editor-placeholder-color;
    }

    // Firefox 4-18
    &:-moz-placeholder {
        color: $editor-placeholder-color;
        opacity: 1;
    }

    //  Firefox 19+
    &::-moz-placeholder {
        color: $editor-placeholder-color;
        opacity: 1;
    }

    &[disabled]{
        background: $input-disabled-background-color;
        color: $input-disabled-color;
        -webkit-text-fill-color: $input-disabled-color;
        opacity: 1;

        &::-webkit-input-placeholder {
            color: $editor-placeholder-color;
        }

        // Firefox 4-18
        &:-moz-placeholder {
            color: $input-disabled-color;
            opacity: 1;
        }

        //  Firefox 19+
        &::-moz-placeholder {
            color: $input-disabled-color;
            opacity: 1;
        }

    }

    &.is-invalid {
        padding-bottom: 7px;
        padding-top: 17px;
    }
}

.cui__editor--with-icon {
    @extend .cui__editor--text;

    padding-left: 36px;
}

.cui__editor-wrapper {
    position: relative;
    height: 44px;

    @include respond-to-ie-and-stock {
        &:after {
            @include font-size(15px);
            width: 100%;
            height: 45px;
            line-height: 45px;
            padding: 0 13px;
            color: $editor-placeholder-color;
            content: attr(data-placeholder);
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: 1;
            box-sizing: border-box;
        }

        &.is-invalid:after {
            padding-top: 7px;
        }

        &.is-placeholder-hidden:after {
            display: none;
        }
    }
}

.cui__editor-wrapper--with-icon {
    @extend .cui__editor-wrapper;

    @include respond-to-ie-and-stock {
        &:after {
            padding-left: 36px;
        }
    }
}

.cui__field__error-tooltip {
    @extend %show-tooltip;
    @include font-size(11px);
    @include box-sizing(border-box);

    width: 100%;

    background: $input-tooltip-background-color;
    border-radius: 3px 3px 0 0;
    color: #FFF;
    display: none;
    font-weight: bold;
    line-height: 1em;
    margin: -10px 0 0 0;
    bottom: 26px;
    padding: 3px 10px 4px;
    position: absolute;

    z-index: 10;

    &:after {
        @include respond-to-ie(8) {
            display: none;
        }
    }

    &.is-visible {
        display: block;
    }
}
