$select-overlay-triangle-y: 21px;
$select-overlay-triangle-y-ie: 18px;

.cui__select {
    @extend .cui__field;
    height: 44px;
}

.cui__select-overlay {
    @include box-sizing(border-box);
    @include font-size(15px);

    border: 1px solid $input-box-shadow-color;
    border-radius: $input-border-radius;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    margin-bottom: $input-line-height / 2;
    padding: 13px;
    padding-right: 43px;
    color: #595959;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    @include respond-to-ie {
        height: 43px;
    }

    @include respond-to-ie(8) {
        border: 1px solid $input-box-shadow-color;
        height: 44px;
    }

    .cui__select-dropdown:hover + &:before,
    .cui__select-dropdown:focus + &:before {
        @include triangle(12px, #AAA, down);
    }

    &.is-placeholder {
        font-weight: normal;
        color: $editor-placeholder-color;
        padding-top: 13px;
    }

    &.is-disabled {
        background: $input-disabled-background-color;
        color: $input-disabled-color;
        -webkit-text-fill-color: $input-disabled-color;
        font-weight: bold;

        &:before {
            @include triangle(12px, #D8D8D8, down);
        }

        &:after {
            background-color: $input-disabled-border-color;
        }
    }

    &.is-placeholder.is-disabled {
        font-weight: normal;
        color: $input-disabled-color;
    }

    &.has-focus {
        border: 1px solid $input-border-color-focus;
        box-shadow:
        0 0 3px 1px rgba(darken($input-border-color-focus, 5), 0.7);
    }

    &.is-invalid {
        background-color: #FCF2F3;
        padding-bottom: 8px;
        padding-top: 18px;
    }

    &:before {
        @include triangle(12px, #CCC, down);
        content: "";
        position: absolute;
        right: 13px;
        top: $select-overlay-triangle-y;
        z-index: 1;
        pointer-events: none;

        @include respond-to-ie {
            top: $select-overlay-triangle-y-ie;
        }
    }

    *:focus + & {
        border: 1px solid $input-border-color-focus;
        border-radius: 2px;

        box-shadow:
            inset 0 1px 1px 0 $input-box-shadow-color-inset,
            inset 0 1px 3px hsla(0, 0%, 0%, 0.06),
            0 0 3px 1px $input-border-color-focus;

        z-index: 1;

        @include respond-to-ie(8) {
            border: 1px solid $input-border-color-focus;
        }
    }
}

.cui__select-dropdown {
    @include appearance(none);
    @include font-size(16px);
    @include box-sizing(content-box);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border: none;
    outline: none;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
    line-height: normal;

    @include respond-to-ie {
        height: 43px;
    }
}
