$select-overlay-triangle-y: 20px;
$select-overlay-triangle-y-ie: 17px;

.cui__select {
    @extend .cui__field;
}

.cui__select-overlay {
    @include box-sizing(border-box);
    @include font-size(15px);
    @include generated-border-classes();

    border-radius: 0;
    border: 1px solid $input-border-color;
    color: #595959;
    display: inline-block;
    font-weight: bold;
    height: 45px;
    line-height: normal;
    margin-bottom: $input-line-height / 2;
    overflow: hidden;
    padding-right: 43px;
    padding: 13px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    .cui__select-dropdown:hover + &:before,
    .cui__select-dropdown:focus + &:before {
        @include triangle(12px, #AAA, down);
    }

    &.is-placeholder {
        font-weight: normal;
        color: $editor-placeholder-color;
        padding-top: 13px;
    }

    &.is-disabled {
        background: $input-disabled-background-color;
        color: $input-disabled-color;
        -webkit-text-fill-color: $input-disabled-color;
        font-weight: bold;

        &:before {
            @include triangle(12px, #D8D8D8, down);
        }

        &:after {
            background-color: $input-border-color-disabled;
        }
    }

    &.is-placeholder.is-disabled {
        font-weight: normal;
        color: $input-disabled-color;
    }

    &.has-focus {
        border: 1px solid $input-border-color-focus;

        box-shadow:
            inset 0 1px 1px 0 $input-box-shadow-color-inset,
            inset 0 1px 3px hsla(0, 0%, 0%, 0.06),
            0 0 3px 1px $input-border-color-focus;

        z-index: 3;

        &:before {
            right: 12px;
        }
    }

    &.is-invalid {
        padding-bottom: 2px;
        padding-top: 16px;
    }

    &.is-error {
        background-color: $input-error-background-color;
    }

    &.is-warning {
        background-color: $input-warning-background-color;
    }

    &:before {
        @include triangle(12px, #CCC, down);
        content: "";
        position: absolute;
        right: 13px;
        top: $select-overlay-triangle-y;
        z-index: 1;
        pointer-events: none;

        @include respond-to-ie {
            top: $select-overlay-triangle-y-ie;
        }
    }
}

.cui__select-dropdown {
    @include appearance(none);
    @include font-size(16px);
    @include box-sizing(content-box);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border: none;
    outline: none;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
    line-height: normal;
}
