$select-overlay-triangle-y: 1.35em;
$select-overlay-triangle-y-ie: 1.2em;

.cui__select {
    @extend .cui__field;
    height: 44px;
}

.cui__select-overlay {
    @include box-sizing(border-box);
    @include appearance(none);
    @include background-image(linear-gradient(#fff 90%, #f3f3f3 100%));
    @include font-size(15px);

    width: 100%;
    border: 1px solid $input-box-shadow-color;
    border-radius: $input-border-radius;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    margin-bottom: $input-line-height / 2;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 13px;
    padding-right: 43px;
    color: #595959;

    &.is-placeholder {
        font-weight: normal;
        color: $editor-placeholder-color;
        padding-top: 13px;
    }

    &.is-disabled {
        background: $input-disabled-background-color;
        color: $input-disabled-color;
        -webkit-text-fill-color: $input-disabled-color;
        font-weight: bold;

        &:before {
            @include triangle(12px, #D8D8D8, down);
        }

        &:after {
            background-color: $input-disabled-border-color;
        }
    }

    &.is-placeholder.is-disabled {
        font-weight: normal;
        color: $input-disabled-color;
    }

    &.has-focus {
        border: 1px solid $input-border-color-focus;
        box-shadow:
        0 0 3px 1px rgba(darken($input-border-color-focus, 5), 0.7);
    }

    &.is-invalid {
        padding-bottom: 8px;
        padding-top: 18px;
    }

    &:before {
        @include triangle(12px, #555, down);
        content: "";
        position: absolute;
        right: 0.75em;
        top: $select-overlay-triangle-y;
        z-index: 1;
        pointer-events: none;
    }

    &:after {
        content: "";
        background-color: $input-box-shadow-color;
        position: absolute;
        top: 0;
        right: 34px;
        width: 1px;
        height: 100%;
    }

    @include respond-to-ie(8) {
        border: 1px solid $input-box-shadow-color;
        height: 44px;
    }

    @include respond-to-ie {
        height: 43px;
    }

    /* Since IE10- doesn't support pointer-events, the CSS based triangled
     * must be replace with a background image.
     * The CSS based is kept for retina support. */
     @include respond-to-ie((8, 9, 10)) {
        background-repeat: no-repeat;

        &:before {
            display: none;
        }
    }

    @include respond-to-ie((8, 9)) {
        background-image: url($ui-toolkit-base + 'img/molecules/select/select.arrow.png');
        background-position: 100% $select-overlay-triangle-y-ie;

        &.is-disabled {
            background: $input-disabled-background-color url($ui-toolkit-base + 'img/molecules/select/select.arrow.png') 100% $select-overlay-triangle-y-ie no-repeat !important;
        }
    }

    @include respond-to-ie(10) {
        background-image: url($ui-toolkit-base + 'img/molecules/select/select.arrow.png'), -ms-linear-gradient(#fff 75%, #f3f3f3 100%);
        background-position: 100% $select-overlay-triangle-y-ie, 0 0;

        &.is-disabled {
            background-image: url($ui-toolkit-base + 'img/molecules/select/select.arrow.png');
            background-position: 100% $select-overlay-triangle-y-ie;
            background-color: $input-disabled-background-color;
        }
    }
}

.cui__select-dropdown {
    @include appearance(none);
    @include font-size(16px);
    @include box-sizing(content-box);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border: none;
    outline: none;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
    line-height: normal;

    @include respond-to-ie {
        height: 43px;
    }
}
