* {
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #3C3C3E;
  line-height: 24px;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

nav {
  position: fixed;
  top: 80px;
  left: 80px;
}

main {
  width: 680px;
  margin: 0 auto 200px auto;
}

h1 {
  font-weight: 300;
  font-size: 26px;
  color: #0072CC;
  margin-bottom: 1em;
  padding-top: 200px;
}

p {
  margin-bottom: 1em;
}

h2 {
  font-weight: 300;
  font-size: 26px;
  color: #3C3C3E;
  padding: 2em 0 1em 0;
}


h3 {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #3C3C3E;
  padding: 3em 0 1em 0;
}

h2 ~ p, h3 ~ p {
  color: #9E9EA0;
}

.example-block {
  border: 1px solid #CBCBCD;
  border-radius: 5px;
  overflow: hidden;
}

.example{
  padding: 30px;
}

.code {
  font-family: "Hack", monospace;
  font-size: 0.9em;
  background: #f8f8fa;
  border: 1px solid #e5e5e7;
  padding: 1px 4px;
  border-radius: 5px;
}

.code.class {
  color: #E63200;
}

.code.tag {
  color: #0072CC;
}

td {
  vertical-align: top;
  padding: 0 1em 1em 0;
}

a{
  color: #0074C8;
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  border: 0;
  margin: 4em 0;
}

.summary li {
  margin-left: 5px;
}

.summary li:before {
  content: "•";
  margin-right: .8em;
  color: #3C3C3E;
}

.summary li li {
  margin-left: 30px;
  font-size: 13px;
}

.summary li li:before {
  content: "•";
  margin-right: .8em;
  color: #9E9EA0;
}

section {
  display: none;
}

.overview {
  padding-right: 20px;
}

.overview li {
  padding: 10px;
}

.toggle-grid {
  background: white;
  border: none;
  color: #0074C8;
  outline: none;
  float: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.grid {
  content: '';
  display: block;
  height: auto;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: auto;
  z-index: -1;
  z-index: 9999;
}

