.docs__nav {
  padding: 80px 0 0 80px;
}

.ie9 .docs__nav {
  padding-top: 77px;
}

ul {
  list-style: none;
  margin: 0;
}

ul li {
  margin: 0;
}

.ie9 .docs__nav ul li, .ie8 .docs__nav ul li {
  padding-bottom: 10px;
}

.docs__main.cui__baseline__content--main {
  clear: both;
  float: static;
  margin-bottom: 20px;
}

.example-block {
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.ie9 .example-block, .ie8 .example-block {
  border: 1px solid #cbcbcd;
}

.example-block pre {
  margin: 0;
}

.example {
  padding: 30px;
  position: relative;
}

.example::after {
  content: "";
  display: block;
  clear: both;
}

.code {
  background: #f8f8fa;
  border-radius: 5px;
  border: 1px solid #e5e5e7;
  display: inline-block;
  font-family: Hack, monospace;
  font-size: inherit;
  line-height: 20px;
  padding: 1px 4px;
}

.code.class {
  color: #E63200;
}

.code.tag {
  color: #0072CC;
}

td {
  vertical-align: top;
  padding: 0 5px 5px 0;
}

hr {
  border: 0;
  margin: 20px 0;
}

.summary {
  padding: 0;
}

.summary li {
  margin-left: 5px;
  line-height: 20px;
}

.summary li:before {
  content: "•";
  margin-right: 8px;
  color: #3C3C3E;
}

.summary li li {
  margin-left: 15px;
  font-size: 13px;
}

.summary li li:before {
  content: "•";
  margin-right: 5px;
  color: #9E9EA0;
}

ul.overview {
  padding: 0;
  margin: 0;
}

.overview li {
  padding: 10px;
}

.docs__section {
  display: none;
}

@media screen and (min-width: 999px) {
  .docs__nav {
    float: left;
  }

  .docs__main.cui__baseline__content--main {
    clear: none;
    float: left;
    padding: 55px 0 0 80px;
    width: 600px;
  }
}

@media screen and (min-width: 1099px) {
  .docs__main.cui__baseline__content--main {
    width: 700px;
  }
}

.ie8 .docs__nav {
  float: left;
}

.ie8 .docs__main.cui__baseline__content--main {
  clear: none;
  float: left;
  padding: 55px 0 0 80px;
  width: 700px;
}
