* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #3C3C3E;
  line-height: 2.5rem;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

nav {
  position: fixed;
  top: 80px;
  left: 80px;
}

#menu li {
  box-sizing: border-box;
  line-height: 30px;
}

main {
  width: 680px;
  margin: 0 auto 200px auto;
}

.example-block {
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.example{
  padding: 3rem;
  position: relative;
}

.code {
  background: #f8f8fa;
  border-radius: 5px;
  border: 1px solid #e5e5e7;
  display: inline-block;
  font-family: Hack, monospace;
  font-size: inherit;
  line-height: 2rem;
  padding: 1px 4px;
}

.code.class {
  color: #E63200;
}

.code.tag {
  color: #0072CC;
}

td {
  vertical-align: top;
  padding: 0 1rem 1rem 0;
}

a{
  color: #0074C8;
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  border: 0;
  margin: 4em 0;
}

.summary li {
  margin-left: 0.5rem;
}

.summary li:before {
  content: "•";
  margin-right: 0.8rem;
  color: #3C3C3E;
}

.summary li li {
  margin-left: 3rem;
  font-size: 1.3rem;
}

.summary li li:before {
  content: "•";
  margin-right: 1rem;
  color: #9E9EA0;
}

section {
  display: none;
}

.overview {
  padding-right: 20px;
}

.overview li {
  padding: 10px;
}

.toggle-grid {
  background: white;
  border: none;
  color: #0074C8;
  outline: none;
  float: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.grid {
  content: '';
  display: block;
  height: auto;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: auto;
  z-index: -1;
  z-index: 9999;
}

/* Toolkit overides */

section > h1:first-of-type {
  padding-top: 20rem;
}

section > h2, section > h3 {
  padding: 2rem 0 1rem 0;
}

h2 ~ p, h3 ~ p {
  color: #9E9EA0;
}
