@import '../mixins/index';

.cui__baseline {
    color: map-get($colors, black);
    -webkit-font-smoothing: antialiased;
    line-height: ($grid * 5);
    text-rendering: optimizeLegibility;

    body {
        @include typography(($grid * 2.6), regular);

        margin: 0;
        padding: 0;
    }
}

.cui__baseline__grid {
    background: transparent url('img/baseline__grid.png') repeat scroll 0% 0%;
}

.cui__baseline__content--main {
    @include typography(($grid * 2.6), regular);

    display: block;
    margin: 0 ($grid * 4);
    padding: 0;

    @include respond-to-wide {
        margin: 0 auto;
        width: ($grid * $content-main-width);
    }

    .ie8 & {
        margin: 0 auto;
        width: ($grid * $content-main-width);
    }
}

.cui__baseline__spacer {
    clear: both;
    display: block;
    height: $grid;
    width: 100%;

    &.x2 { height: ($grid * 2); }
    &.x3 { height: ($grid * 3); }
    &.x4 { height: ($grid * 4); }
    &.x5 { height: ($grid * 5); }
    &.x6 { height: ($grid * 6); }
}
