@import "../mixins/index";

.cui__button--primary {
    @include button(
        $background: map-get($colors, klarna-blue),
        $text-color: white,
        $darken-color: map-get($colors, klarna-blue),
        $darken-attributes: (background-color, border-color)
    );

    &__loader {
        @include button__loader('button--primary__loader');
    }
}

.cui__button--secondary {
    @include button(
        $background: white,
        $text-color: map-get($colors, klarna-blue),
        $darken-color: map-get($colors, klarna-blue),
        $darken-attributes: (background-color, border-color)
    );

    &__loader {
        @include button__loader('button--secondary__loader');
    }

    &:hover, &:focus {
        background: map-get($colors, klarna-blue);
        color: #fff;
    }

    &:active {
        background: darken(map-get($colors, klarna-blue), 10.1);
        color: #fff;
    }

    .cui__button--primary.right + &.right {
        margin-top: ($grid * 4);

        @include respond-to-wide {
            margin-top: 0;
        }
    }
}

.cui__button__menu {
    padding-bottom: ($grid * 4);

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}
