@import '../mixins/index';

.cui__illustration {
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &.big {
        @include illustration(map-get($colors, klarna-blue));

        &.gray {
            @include illustration(map-get($colors, grey-lines));
        }

        &.error {
            @include illustration(map-get($colors, error));
        }

        &.success {
            @include illustration(map-get($colors, green));
        }

        &.inverse {
            @include illustration(map-get($colors, white));
        }
    }

    &.button {
        background: transparent;
        border: 10px solid transparent;
        border-radius: 100%;
        cursor: pointer;
        height: 25px;
        margin: -10px;
        width: 25px;

        -webkit-transition: all .3s ease;
        transition: all .3s ease;

        @include illustration(map-get($colors, klarna-blue));

        &:hover {
            @include illustration(map-get($colors, klarna-blue-hover));
        }

        &:active {
            background: #f2f8fd;
            border-color: #f2f8fd;
        }

        &.gray {
            @include illustration(map-get($colors, grey-lines));

            &:hover {
                @include illustration(map-get($colors, black));
            }

            &:active {
                background: #f6f6f6;
                border-color: #f6f6f6;
            }
        }

        &.inverse {
            @include illustration(map-get($colors, white));

            &:hover {
                @include illustration(map-get($colors, white));
            }

            &:active {
                background: map-get($colors, klarna-blue-hover);
                border-color: map-get($colors, klarna-blue-hover);
            }
        }
    }
}
