@import '../mixins/index';

.cui__illustration {
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &.big {
        .cui__illustration__stroke {
            @include illustration__stroke(map-get($colors, klarna-blue));
        }

        .cui__illustration__fill {
            @include illustration__fill(map-get($colors, klarna-blue));
        }
    }

    &.button {
        background: transparent;
        border: 10px solid transparent;
        border-radius: 100%;
        cursor: pointer;
        height: 25px;
        margin: -10px;
        width: 25px;

        -webkit-transition: all .3s ease;
        transition: all .3s ease;

        .cui__illustration__stroke {
            @include illustration__stroke(map-get($colors, klarna-blue));
        }

        .cui__illustration__fill {
            @include illustration__fill(map-get($colors, klarna-blue));
        }

        &:hover {
            .cui__illustration__stroke {
                @include illustration__stroke(map-get($colors, klarna-blue-hover));
            }

            .cui__illustration__fill {
                @include illustration__fill(map-get($colors, klarna-blue-hover));
            }
        }

        &:active {
            background: #f2f8fd;
            border-color: #f2f8fd;
        }

        &.gray {
            .cui__illustration__stroke {
                @include illustration__stroke(map-get($colors, grey-lines));
            }

            .cui__illustration__fill {
                @include illustration__fill(map-get($colors, grey-lines));
            }

            &:hover {
                .cui__illustration__stroke {
                    @include illustration__stroke(map-get($colors, black));
                }

                .cui__illustration__fill {
                    @include illustration__fill(map-get($colors, black));
                }
            }

            &:active {
                background: #f6f6f6;
                border-color: #f6f6f6;
            }
        }

        &.inverse {
            .cui__illustration__stroke {
                @include illustration__stroke(map-get($colors, white));
            }

            .cui__illustration__fill {
                @include illustration__fill(map-get($colors, white));
            }

            &:hover {
                .cui__illustration__stroke {
                    @include illustration__stroke(map-get($colors, white));
                }

                .cui__illustration__fill {
                    @include illustration__fill(map-get($colors, white));
                }
            }

            &:active {
                background: map-get($colors, klarna-blue-hover);
                border-color: map-get($colors, klarna-blue-hover);
            }
        }
    }
}
