@import '../mixins/index';

.cui__selector--installments {
    border: ($grid * .2) solid $border-color;
    border-radius: 5px;

    &:after {
        clear: both;
        content: '';
        display: block;
    }

    .cui__selector--installments__input {
        display: none;
    }

    .cui__selector--installments__label {
        @include stackable;
        @include typography(($grid * 2.8), semi-bold);

        -webkit-tap-highlight-color: rgba(0,0,0,0);
        border-top: ($grid * .2) solid $border-color;
        color: map-get($colors, black);
        cursor: pointer;
        display: block;
        line-height: ($grid * 10) - ($grid * .4);
        margin-left: ($grid * 4);
        margin-top: ($grid * -.2);
        position: relative;
        text-align: left;
        vertical-align: top;


        &:first-of-type {
            border-top-width: 0px;
            margin-top: 0px;
        }

        @include respond-to-wide {
            border-left: ($grid * .2) solid $border-color;
            border-top: 0;
            float: left;
            line-height: ($grid * 4);
            margin-left: ($grid * -.2);
            margin-top: 0;
            padding: ($grid * 3.8) 0;
            text-align: center;

            &:first-of-type {
                border-left-width: 0px;
                margin-left: 0px;
            }
        }
    }

    .cui__selector--installments__label:hover {
        color: map-get($colors, klarna-blue);
    }

    .cui__selector--installments__input:checked +
    .cui__selector--installments__label {
        border-top: 0;
        margin-top: 0;

        @include respond-to-wide {
            border-left: 0;
            margin-left: 0;
        }
    }

    .cui__selector--installments__input:checked +
    .cui__selector--installments__label:after {
        border: ($grid * .4) solid map-get($colors, klarna-blue);
        border-radius: 5px;
        bottom: -1px;
        content: '';
        display: block;
        left: -1px;
        position: absolute;
        right: -1px;
        top: -1px;
        z-index: 5;
    }

    .cui__selector--installments__input:checked +
    .cui__selector--installments__label +
    .cui__selector--installments__input +
    .cui__selector--installments__label {
        border-top: 0;
        margin-top: 0;

        @include respond-to-wide {
            border-left: 0;
            margin-left: 0;
        }
    }

    .cui__selector--installments__label__connector {
        @include respond-to-wide {
            display: none;
        }
    }

    .cui__selector--installments__label__value,
    .cui__selector--installments__label__info {
        @include respond-to-wide {
            display: block;
        }
    }
}
