@import "../mixins/index";

.cui__link {
    color: #0074C8;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    text-decoration: none;
    transition: all .2s ease;

    &:hover {
        color: #005694;
    }
}
