@import "../mixins/index";

.cui__segmentedcontrol {
    overflow: auto;
    
    input {
        display: none;
    }

    label {
        @include stackable();

        border: ($grid * .2) solid $border-color;
        border-radius: $border-radius;
        box-sizing: border-box;
        cursor: pointer;
        color: map-get($colors, black);
        display: inline-block;
        float: left;
        line-height: ($grid * 8) - ($grid * 0.4);
        padding: 0 ($grid * 9);
        position: relative;
        text-align: center;
        transition: all .2s ease;
        vertical-align: top;
    }

    label:hover {
        color: map-get($colors, klarna-blue);
    }

    input:checked + label {
        border: ($grid * .2) solid map-get($colors, klarna-blue);
        background: map-get($colors, klarna-blue);
        color: map-get($colors, white);
        z-index: 5;
    }

    &.respect-content {

    }
}