@import "../mixins/index";

// SINGLE
.cui__switch {
    @include typography(($grid * 2.8), regular);

    line-height: ($grid * 4);
    padding-bottom: ($grid * 1);
    padding-top: ($grid * 1);

    @include switch(0, ($grid * .6));

    &.right {
        @include switch(0, ($grid * .6), right);
    }

    &.checkbox {
        @include respond-to-wide() {
            @include checkbox(($grid * 2), ($grid * 1.6));
        }
    }
}

// MULTIPLE
.cui__switch--multiple {
    @include options(false);

    padding: 0;
    margin-bottom: ($grid * .6);
}

.cui__switch--multiple__option {
    @include option();

    padding-left: ($grid * 10);
    padding-right: ($grid * 4);

    @include switch(($grid * 4), ($grid * 3.2), right);

    .checkbox & {
        @include respond-to-wide() {
            @include checkbox(($grid * 6), ($grid * 2.4));
        }
    }

    &:first-child {
        .checkbox & {
            @include respond-to-wide() {
                @include checkbox(($grid * 6), ($grid * 3.4));
            }
        }
    }


    &:last-child {
        .checkbox & {
            @include respond-to-wide() {
                @include checkbox(($grid * 6), ($grid * 2.4));
            }
        }
    }

    .borderless.checkbox & {
        &:first-child {
            @include respond-to-wide() {
                @include checkbox(($grid * 6), ($grid * 2.4));
            }
        }
    }

    .is-disabled.checkbox &.is-checked {
        @include respond-to-wide() {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &:hover {
                &::before {
                    background: map-get($colors, grey-lines);
                    border-color: map-get($colors, grey-lines);
                }
            }

            &::after {
                opacity: 1;
                top: ($grid * 2.4);
            }

            &:first-child {
                &::after {
                    top: ($grid * 3.4);
                }
            }
        }
    }

    .is-disabled.borderless.checkbox & {
        &:first-child {
            @include respond-to-wide() {
                &::before {
                    background: map-get($colors, grey-lines);
                    border-color: map-get($colors, grey-lines);
                }
                &:first-child {
                    &::after {
                        top: ($grid * 2.4);
                    }
                }
            }
        }
    }

}

.cui__switch--multiple__option__heading {
    @include typography(($grid * 2.8), semi-bold);
    line-height: ($grid * 4);
}

.cui__switch--multiple__option__description {
    @include typography(($grid * 2.6), regular);
    color: map-get($colors, grey-text);
    line-height: ($grid * 4);

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}
