@import '../mixins/index';

.cui__tab-menu {
    border-bottom: ($grid * .2) solid map-get($colors, grey-lines);
    margin-bottom: ($grid * -.2);

    &:after {
        clear: both;
        content: '';
        display: block;
    }

    &.white {
        border-bottom: 0;
    }

    &__input {
        display: none;
    }

    &__button {
        @include typography(($grid * 2.8), regular);
        @include stackable();

        border-bottom: ($grid * .2) solid map-get($colors, grey-lines);
        color: map-get($colors, grey-text);
        cursor: pointer;
        display: inline-block;
        float: left;
        height: ($grid * 6);
        line-height: ($grid * 6);
        margin-bottom: ($grid * -.2);
        padding: $grid 0;
        position: relative;
        text-align: center;
        transition: color .2s ease, border-color .4s ease;
        z-index: 10;

        .white & {
            border-bottom: ($grid * .2) solid rgba(map-get($colors, white), .5);
            color: map-get($colors, black);
        }

        .fluid & {
            margin-left: ($grid * 4);
            margin-right: ($grid * 4);
            padding: ($grid * 2) 0;

            &:nth-child(2) {
                margin-left: 0;
            }
        }

        &:hover {
            color: map-get($colors, klarna-blue);

            .white & {
                color: map-get($colors, black);
            }

        }
    }
}


.cui__tab-menu__input:checked + .cui__tab-menu__button {
    border-bottom-width: ($grid * .4);
    border-color: map-get($colors, klarna-blue);
    color: map-get($colors, klarna-blue);
    height: ($grid * 5.8);
    margin-bottom: ($grid * -.4);

    .white & {
        border-color: map-get($colors, white);
        color: map-get($colors, white);
    }
}


