@import '../mixins/index';

// TITLE
.cui__title--primary {
    @include title--primary;

    + .cui__subtitle {
        margin-top: ($grid * -2);
    }
}

.cui__title--secondary {
    @include title--secondary;

    padding: ($grid * 4.4) 0 ($grid * 2.6);

    &.condensed {
        padding: ($grid * .4) 0 ($grid * 1.6);
    }
}

// SUBTITLE
.cui__subtitle {
    @include subtitle;
}

// PARAGRAPH
.cui__paragraph--primary {
    @include paragraph--primary;

    &.condensed {
        @include paragraph--primary-condensed;
    }
}

.cui__paragraph--secondary {
    @include paragraph--secondary;

    &.condensed {
        @include paragraph--secondary-condensed;
    }
}

.cui__paragraph--legal {
    @include paragraph--legal;
}

// LABEL
.cui__label {
    @include label;
}

// TEXT LABEL
.cui__text-label {
    @include text-label;
    + .cui__title--secondary {
        padding-top: ($grid * .4);
    }
}

// AMOUNT TEXT
.cui__amount-text {
    @include amount-text;
}
