@import '../mixins/index';

.cui__tooltip-border {
    @include tooltip-border;

    // scss-lint:disable PropertySortOrder
    &.top-left:after, &.top-left:before {
        @extend %top-border, %-left-border;

        transform: translate($grid, -$grid);
        -ms-transform: translate($grid, -$grid);
    }

    // scss-lint:disable PropertySortOrder
    &.top:after, &.top:before {
        @extend %top-border, %-center-border;

        transform: translate(-$grid, -$grid);
        -ms-transform: translate(-$grid, -$grid);
    }

        // scss-lint:disable PropertySortOrder
    &.top-right:after, &.top-right:before {
        @extend %top-border, %-right-border;

        transform: translate(-$grid * 3, -$grid);
        -ms-transform: translate(-$grid * 3, -$grid);
    }

    &.right-top:after, &.right-top:before {
        @extend %right-border, %-top-border;
    }

    &.right:after, &.right:before {
        @extend %right-border, %-middle-border;
    }

    &.right-bottom:after, &.right-bottom:before {
        @extend %right-border, %-bottom-border;
    }

    // scss-lint:disable PropertySortOrder
    &.bottom-left:after, &.bottom-left:before {
        @extend %bottom-border, %-left-border;

        transform: translateX($grid);
        -ms-transform: translateX($grid);
    }

    // scss-lint:disable PropertySortOrder
    &.bottom:after, &.bottom:before {
        @extend %bottom-border, %-center-border;

        transform: translateX(-$grid);
        -ms-transform: translateX(-$grid);
    }

    // scss-lint:disable PropertySortOrder
    &.bottom-right:after, &.bottom-right:before {
        @extend %bottom-border, %-right-border;

        transform: translateX(-$grid * 3);
        -ms-transform: translateX(-$grid * 3);
    }

    &.left-top:after, &.left-top:before {
        @extend %left-border, %-top;
    }

    &.left:after, &.left:before {
        @extend %left-border, %-middle-border;
    }

    &.left-bottom:after, &.left-bottom:before {
        @extend %left-border, %-bottom-border;
    }
}
