// Regular blue button
.cui__highlighted-button {
    @include appearance(none);
    @include font-size($flat-button-font-size);

    background: $custom-color-button-background;
    border: none;
    border-radius: $button-border-radius;
    color: $custom-color-button-color;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 13px;
    line-height: 19px;
    vertical-align: top;

    @include respond-to-ie {
        padding: 12px 13px 11px;
    }

    &:hover {
        background: darken($custom-color-button-background, 2%);
    }

    &:active {
        background: darken($custom-color-button-background, 4%);
    }

    &.is-disabled {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        opacity: 0.4;

        &:hover {
            background: $custom-color-button-background;
        }

        &:active {
            background: $custom-color-button-background;
        }
    }
}

.cui__highlighted-button__loader {
    @include retina-image-compat($ui-toolkit-path + 'img/atoms/button/button.loader', 14px 14px);
    @include animation(spin 0.8s linear infinite);

    display: inline-block;
    font-size: 0;
    height: 14px;
    overflow: hidden;
    vertical-align: text-bottom;
    width: 14px;

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    @include respond-to-ie((8,9)) {
        @include font-size($flat-button-font-size);

        background-image: none;
        height: 19px;
        width: 100%;
    }
}


// Regular grey button
.cui__non-highlighted-button {
    @include appearance(none);
    @include font-size($flat-button-font-size);

    background: $bright-button-background;
    border: 1px solid $secondary-button-border-color;
    border-radius: $button-border-radius;
    color: $bright-button-color;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 12px 13px 13px;
    vertical-align: top;

    @include respond-to-ie {
        padding: 11px 13px 10px;
    }

    @include respond-to-ie(8) {
        border: 1px solid #d8d8d8;
    }

    &:hover {
        background: darken($bright-button-background, 2%);
    }

    &:active {
        background: darken($bright-button-background, 2%);
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
}
