// Regular blue button
.cui__highlighted-button {
    @include appearance(none);
    @include font-size($flat-button-font-size);

    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    vertical-align: top;
    border-radius: 3px;
    background: $custom-color-button-background;
    color: $custom-color-button-color;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), inset 0 -3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 13px;

    @include respond-to-ie {
        padding: 12px 14px 11px;
    }

    @include respond-to-wide {
        padding: 14px;
    }

    &:hover {
        background: darken($custom-color-button-background, 2%);
    }

    &:active {
        background: darken($custom-color-button-background, 4%);
        box-shadow: inset 0 3px 0 rgba(#000, .1);
    }
}

.cui__highlighted-button__loader {
    @include retina-image-compat($ui-toolkit-base + 'img/atoms/button/button.loader', 14px 14px);
    @include animation(spin 0.8s linear infinite);

    display: inline-block;
    overflow: hidden;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    font-size: 0;

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    @include respond-to-ie((8,9)) {
        @include font-size($flat-button-font-size);
        width: 100%;
        height: 19px;
        background-image: none;
    }
}


// Regular grey button
.cui__non-highlighted-button {
    @include appearance(none);
    @include font-size($flat-button-font-size);

    outline: none;
    cursor: pointer;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.06),
                0 2px 4px rgba(#000, .075);
    border-radius: 3px;
    background: $bright-button-background;
    color: $bright-button-color;
    padding: 13px;

    @include respond-to-ie {
        padding: 11px 13px 10px;
    }

    @include respond-to-ie(8) {
        border: 1px solid #d8d8d8;
    }

    &:hover {
        background: darken($bright-button-background, 2%);
    }

    &:active {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: darken($bright-button-background, 2%);
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.06);
    }
}
