@mixin cui__button($background, $border-color, $text-color, $border-color-hover) {
    @include appearance(none);
    @include font-size($flat-button-font-size);

    background: $background;
    border: 1px solid $border-color;
    border-radius: $button-border-radius;
    color: $text-color;
    cursor: pointer;
    font-weight: bold;
    line-height: 19px;
    outline: none;
    padding: 12px 13px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;

    &:hover {
        background: darken($background, 2%);
        border-color: $border-color-hover;
    }

    &:active {
        background: darken($background, 2%);
        border-color: $border-color-hover;
    }

    &.is-disabled {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        opacity: 0.4;

        &:hover {
            background: $background;
        }

        &:active {
            background: $background;
        }
    }
}

// Regular blue button
.cui__highlighted-button {
    @include cui__button($custom-color-button-background, $custom-color-button-background, $custom-color-button-color, darken($custom-color-button-background, 2%));
}

// Regular grey button
.cui__non-highlighted-button {
    @include cui__button($bright-button-background, $secondary-button-border-color, $bright-button-color, $secondary-button-border-color);
}


.cui__highlighted-button__loader {
    @include retina-image-compat($ui-toolkit-path + 'img/atoms/button/button.loader', 14px 14px);
    @include animation(spin 0.8s linear infinite);

    display: inline-block;
    font-size: 0;
    height: 14px;
    overflow: hidden;
    vertical-align: text-bottom;
    width: 14px;

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    @include respond-to-ie((8,9)) {
        @include font-size($flat-button-font-size);

        background-image: none;
        height: 19px;
        width: 100%;
    }
}
