@mixin cui__button($background, $border-color, $text-color, $border-color-hover) {
    @include appearance(none);
    @include font-size($flat-button-font-size);

    background: $background;
    border-radius: $button-border-radius;
    border: 1px solid $border-color;
    color: $text-color;
    cursor: pointer;
    font-weight: bold;
    line-height: 19px;
    outline: none;
    padding: 12px 13px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;

    &:hover {
        background: darken($background, 2%);
        border-color: $border-color-hover;
    }

    &:active {
        background: darken($background, 2%);
        border-color: $border-color-hover;
    }

    &.is-disabled {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        cursor: default;
        opacity: 0.4;

        &:hover {
            background: $background;
        }

        &:active {
            background: $background;
        }
    }
}

// Regular blue button
.cui__button--primary {
    @include cui__button($custom-color-button-background, $custom-color-button-background, $custom-color-button-color, darken($custom-color-button-background, 2%));
}

// Regular grey button
.cui__button--secondary {
    @include cui__button($bright-button-background, $secondary-button-border-color, $bright-button-color, $secondary-button-border-color);
}

// CTA button
.cui__button--cta {
    @include cui__button($custom-color-button-background, $custom-color-button-background, $custom-color-button-color, darken($custom-color-button-background, 2%));
    @include font-size($buy-button-font-size);

    border: none;
    line-height: 1;
    padding: 18px;

    &:active {
        background: darken($custom-color-button-background, 4%);
    }
}

@mixin cui__button__loader($image-name, $image-size, $font-size) {
    @include retina-image-compat($ui-toolkit-path + 'img/atoms/button/' + $image-name, $image-size $image-size);
    @include animation(spin 0.8s linear infinite);

    display: inline-block;
    font-size: 0;
    height: $image-size;
    width: $image-size;
    vertical-align: text-bottom;

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    @include respond-to-ie((8,9)) {
        @include font-size($font-size);
    }

    // Preload the image
    &:before {
        content: url($ui-toolkit-path + 'img/atoms/buy_button/' + $image-name + '.png');
        display: none;
        height: 0;
        width: 0;

        @include hidpi {
            content: url($ui-toolkit-path + 'img/atoms/buy_button/' + $image-name + '@2x.png');
        }
    }
}

.cui__button--cta__loader {
    @include cui__button__loader('button--cta__loader', 22px, $buy-button-font-size);
}


.cui__button--primary__loader {
    @include cui__button__loader('button--primary__loader', 14px, $flat-button-font-size);

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    @include respond-to-ie((8,9)) {
        height: 19px;
    }
}
