.cui__buy-button {
    @include appearance(none);
    @include font-size($buy-button-font-size);

    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    vertical-align: top;

    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), inset 0 -3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);
    background: $custom-color-button-background;
    color: $custom-color-button-color;
    line-height: 1;
    padding: 18px;
    border-radius: 5px;

    &:hover {
        background: darken($custom-color-button-background, 2%);
    }

    &:active {
        background: darken($custom-color-button-background, 4%);
        box-shadow: inset 0 3px 0 rgba(#000, .1);
    }

    &.is-disabled {
        box-shadow: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        opacity: 0.4;

        &:hover {
            background: $custom-color-button-background;
        }

        &:active {
            background: $custom-color-button-background;
            box-shadow: none;
        }
    }

    &.is-loading {
        height: $buy-button-font-size + (18px * 2)
    }
}

.cui__buy-button__loader {
    @include retina-image-compat($ui-toolkit-base + 'img/atoms/buy_button/buy_button.loader', 22px 22px);
    @include animation(spin 0.8s linear infinite);

    margin: 0 auto;
    width: 22px;
    height: 22px;
    font-size: 0;

    // Preload the image
    &:before {
        content: url($ui-toolkit-base + 'img/atoms/buy_button/buy_button.loader.png');
        width: 0;
        height: 0;
        display: none;

        @include hidpi {
            content: url($ui-toolkit-base + 'img/atoms/buy_button/buy_button.loader@2x.png');
        }
    }

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    .ie8 &,
    .ie9 & {
        @include font-size($buy-button-font-size);
        width: 100%;
        background-image: none;
    }
}
