.cui__buy-button {
    @include appearance(none);
    @include font-size($buy-button-font-size);

    background: $custom-color-button-background;
    border: none;
    border-radius: 5px;
    color: $custom-color-button-color;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    outline: none;
    padding: 18px;
    vertical-align: top;

    &:hover {
        background: darken($custom-color-button-background, 2%);
    }

    &:active {
        background: darken($custom-color-button-background, 4%);
    }

    &.is-disabled {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        cursor: default;
        opacity: 0.4;

        &:hover {
            background: $custom-color-button-background;
        }

        &:active {
            background: $custom-color-button-background;
        }
    }

    &.is-loading {
        height: $buy-button-font-size + (18px * 2)
    }
}

.cui__buy-button__loader {
    @include animation(spin 0.8s linear infinite);
    @include retina-image-compat($ui-toolkit-path + 'img/atoms/buy_button/buy_button.loader', 22px 22px);

    font-size: 0;
    height: 22px;
    margin: 0 auto;
    width: 22px;

    // Preload the image
    &:before {
        content: url($ui-toolkit-path + 'img/atoms/buy_button/buy_button.loader.png');
        display: none;
        height: 0;
        width: 0;

        @include hidpi {
            content: url($ui-toolkit-path + 'img/atoms/buy_button/buy_button.loader@2x.png');
        }
    }

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    .ie8 &,
    .ie9 & {
        @include font-size($buy-button-font-size);

        background-image: none;
        width: 100%;
    }
}
