@mixin cui__checkbox(
    $size: $checkbox-size,
    $background: $checkbox-background
) {
    @include appearance(none);
    @include user-select(none);

    //
    // The ratios were calculated based on a checkbox size (18px),
    // font size (11px) and line height (21px) that looked proportional. 
    // 
    // So, the first value (0.611111111) is the ratio of that
    // font size to that checkbox size.
    // 
    // The second value (1.909090909) is the ratio of that 
    // line height to that font size.
    // 
    $ratio-checkbox-size-font-size: 0.611111111;    // 11px/18px
    $ratio-line-height-font-size: 1.909090909;      // 21px/11px

    $font-size: $size * $ratio-checkbox-size-font-size;
    $line-height: $font-size * $ratio-line-height-font-size;

    background-color: #eee;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px #aaa;
    display: inline-block;
    height: $size;
    outline: none;
    position: relative;
    width: $size;
    -webkit-font-smoothing: antialiased;

    @include respond-to-ie(8) {
        border: 1px solid #ccc;
        height: $size - 2px;
        width: $size - 2px;
    }

    &:focus {
        border-color: $background;
        box-shadow: inset 0 0 1px 1px $background;
    }

    &:after {
        @include font-size($font-size);
        @include transform(translateY($size));
        @include transition-duration(0.1s, 0.2s);
        @include transition-property(transform, opacity);
        @include transition-timing-function(ease-out, ease-out);

        color: #FFF;
        content: "\2713";
        display: block;
        font-family: "SSPika";
        font-weight: normal;
        height: $size;
        line-height: $line-height;
        position: absolute;
        text-align: center;
        top: 0;
        width: $size;
        opacity: 0;

        @include respond-to-ie(8) {
            // IE8 doesn't support using filters on pseudo elements
            display: none;
        }
    }


    &.is-checked {
        background-color: $background;
        box-shadow: inset 0 1px 1px darken($background, 5%);
        border-color: $background;

        @include respond-to-ie(8) {
            border: none;
            height: $size;
            width: $size;
        }

        &:focus {
            border-color: darken($background, 5%);
            box-shadow: inset 0 0 1px 1px darken($background, 5%);
        }

        &:after {
            @include transform(translateY(0));
            opacity: 1;

            @include respond-to-ie(8) {
                content: "\2713 ";
                display: block;
            }
        }
    }
}

.cui__checkbox {
    @include cui__checkbox;
}