@mixin cui__checkbox(
    $size: $checkbox-size, 
    $font-size: $checkbox-font-size,
    $background: $checkbox-background,
    $border: $checkbox-border
) {
    @include appearance(none);
    @include user-select(none);

    background: #fff;
    border: 1px solid darken($border, 10%);
    border-radius: 2px;
    box-shadow: inset 0 0 2px 2px #F0F0F0;
    display: inline-block;
    height: $size;
    outline: none;
    position: relative;
    width: $size;
    -webkit-font-smoothing: antialiased;

    &:after {
        @include font-size($font-size);
        @include transform(translateY($size));
        @include transition-duration(0.1s, 0.2s);
        @include transition-property(transform, opacity);
        @include transition-timing-function(ease-out, ease-out);

        color: #FFF;
        content: "\2713";
        display: block;
        font-family: "SSPika";
        font-weight: normal;
        height: $size;
        line-height: $size;
        position: absolute;
        text-align: center;
        top: 2px;
        width: $size;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }


    &.is-checked {
        background: $background;
        box-shadow: none;
        border-color: $background;

        &:after {
            @include transform(translateY(0));
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        }
    }
}

.cui__checkbox {
    @include cui__checkbox;
}