.cui__main-header {

    h1 {
        @include font-size(15px);

        color: #434343;
        display: inline-block;
        margin: 0 0 0 2px;
        padding-right: $header-margin;
        z-index: 1;
    }
}

.cui__subtle-header {
    h3 {
        @include font-size(10px);

        -webkit-font-smoothing: antialiased;
        color: #a6a6a6;
        font-weight: bold;
        line-height: 11px;
        margin: 0;
        text-transform: uppercase;
    }
}
