.cui__icon {
    bottom: -3px; // Must be set to prevent IE8 from crashing.
    color: #aaa;
    font-size: 15px;
    left: 15px;
    line-height: normal;
    padding: 12px 0;
    pointer-events: none;
    position: absolute;
    width: 20px;
    z-index: 10;
}

.cui__editor--text:focus + .cui__icon,
.cui__editor--text.has-fake-focus + .cui__icon {
    color: $klarna-blue;
}

.cui__icon--close {
    background-image: url($ui-toolkit-path + "img/atoms/icon/icon.close.svg");
    width: 15px;
    height: 15px;
    display: block;
    opacity: .7;

    @include respond-to-ie((8, 9)) {
        background-image: url($ui-toolkit-path + "img/atoms/icon/icon.close.png");
    }

    &:hover {
        opacity: 1;
    }
}

.cui__icon--question-mark {
    background-image: url($ui-toolkit-path + "img/atoms/icon/icon.question-mark.svg");
    width: 18px;
    height: 19px;
    display: block;
    opacity: .7;

    // OK, for some arcane reason, this particular SVG does
    // not work in IE11. Falling back to png, need to release this.
    @include respond-to-ie {
        background-image: url($ui-toolkit-path + "img/atoms/icon/icon.question-mark.png");
    }

    &:hover {
        opacity: 1;
    }
}
