.cui__logo--visa--tiny {
    background-image: url($ui-toolkit-path + 'img/atoms/logos/svg-tiny-optimized/visa.svg');
    height: 22px;
    width: 33px;

    @include respond-to-ie {
        background-image: url($ui-toolkit-path + 'img/atoms/logos/png/22px-height/visa.png');
    }
}

.cui__logo--visa-electron--tiny {
    background-image: url($ui-toolkit-path + 'img/atoms/logos/svg-tiny-optimized/visa-electron.svg');
    height: 22px;
    width: 36px;

    @include respond-to-ie {
        background-image: url($ui-toolkit-path + 'img/atoms/logos/png/22px-height/visa-electron.png');
    }
}

.cui__logo--mastercard--tiny {
    background-image: url($ui-toolkit-path + 'img/atoms/logos/svg-tiny-optimized/mastercard.svg');
    height: 22px;
    width: 35px;

    @include respond-to-ie {
        background-image: url($ui-toolkit-path + 'img/atoms/logos/png/22px-height/mastercard.png');
    }
}

.cui__logo--maestro--tiny {
    background-image: url($ui-toolkit-path + 'img/atoms/logos/svg-tiny-optimized/maestro.svg');
    height: 22px;
    width: 35px;

    @include respond-to-ie {
        background-image: url($ui-toolkit-path + 'img/atoms/logos/png/22px-height/maestro.png');
    }
}

.cui__logo--amex--tiny {
    background-image: url($ui-toolkit-path + 'img/atoms/logos/svg-tiny-optimized/amex-solid.svg');
    height: 22px;
    width: 25px;

    @include respond-to-ie {
        background-image: url($ui-toolkit-path + 'img/atoms/logos/png/22px-height/amex-solid.png');
    }
}

.cui__logo--discover--tiny {
    background-image: url($ui-toolkit-path + 'img/atoms/logos/svg-tiny-optimized/discover.svg');
    height: 22px;
    width: 28px;

    @include respond-to-ie {
        background-image: url($ui-toolkit-path + 'img/atoms/logos/png/22px-height/discover.png');
    }
}
