@mixin cui__switch(
    $width: $switch-width,
    $height: $switch-height,
    $background: $switch-background
) {
    $animation-duration: 0.3s;
    $inner-margin: 1px;
    $inner-height: $height - (2 * $inner-margin);
    $inner-width: $width - (2 * $inner-margin);
    $pressed-padding: 10px;

    background-color: #dddddd;
    border-radius: $width;
    cursor: pointer;
    display: inline-block;
    height: $height;
    position:relative;
    width: $width;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */

    // :before - the background element behind the circle
    &:before {
        @include transition-duration($animation-duration);
        @include transition-property(background);

        background-color: #f1f1f1;
        border-radius: $height;
        content: "";
        display: block;
        height: $inner-height;
        margin-left: $inner-margin;
        margin-top: $inner-margin;
        position: absolute;
        width: $inner-width;
    }

    // :after - the circle element
    &:after {
        @include transition-duration($animation-duration);
        @include transition-property(margin, padding);

        background-color: #fff;
        border-radius: $inner-height;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        content: "";
        display: block;
        height: $inner-height;
        margin-top: $inner-margin;
        margin-left: $inner-margin;
        position: absolute;
        width: $inner-height;
    }

    &.is-checked {
        &:before {
            background-color: $background;
            border: none;
        }

        &:after {
            margin-left: $width - $height + $inner-margin;
        }
    }

    &.is-pressed {
        &:before {
            background-color: #e6e6e6;
        }

        &:after {
            padding-left: $pressed-padding;
        }
    }

    &.is-pressed.is-checked {
        &:before {
            background-color: $background;
        }

        &:after {
            padding-left: 0;
            padding-right: $pressed-padding;
            margin-left: $width - $height + $inner-margin - $pressed-padding;
        }
    }
}

.cui__switch {
    @include cui__switch;
}