@import "../settings";
@import "../mixins/index";

.cui__baseline {
    color: map-get($colors, black);
    font-size: $grid;
    line-height: ($grid * 5);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    body {
        @include typography(($grid * 2.8), regular);

        margin: 0;
        padding: 0;
    }
}

.cui__baseline__grid {
    background: transparent url(img/baseline__grid.png) repeat scroll 0% 0%;
}

.cui__baseline__content--main {
    @include typography(($grid * 2.8), regular);

    display: block;
    margin: 0 ($grid * 4);
    padding: 0;

    @include respond-to-wide {
        width: ($grid * 102);
        margin: 0 auto;
    }

    .ie8 & {
        width: ($grid * 102);
        margin: 0 auto;        
    }
}
