.cui__baseline {
    font-size: 5px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.cui__baseline__grid {
    background: url('data:image/svg+xml,
<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" version="1.1">
  <rect style="fill:#0033ff;fill-opacity:.15;" width="10" height="0.5" x="0" y="9.5" />
  <rect style="fill:#0033ff;fill-opacity:.15;" width="10" height="0.5" x="0" y="0" />
  <rect style="fill:#0033ff;fill-opacity:.08;" width="10" height="1" x="0" y="4.5" />
</svg>');
}

.cui__baseline__content--main {
    margin: 0 4rem;

    @include respond-to-wide {
        width: 102rem;
        margin: 0 auto;
    }
}
