@import "../settings";
@import "../mixins/index";

// NATIVE
.cui__dropdown--native {
    @include stackable();
    @include options(true);

    height: ($grid * 10.2);
    margin: 0 0 ($grid * -.2) 0;
    position: relative;

    &:after {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQ4OCwgLTQyOCkiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ4OCwgNDI5KSI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0Ij48L3JlY3Q+PHBhdGggZD0iTTExLDUgTDcsOSBMMyw1IiBzdHJva2U9IiMzQzNDM0UiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PC9wYXRoPjwvZz48L2c+PC9nPjwvc3ZnPg==');
        content: "";
        display: block;
        height: ($grid * 2.8);
        position: absolute;
        right: ($grid * 3.4);
        top: ($grid * 3.4);
        width: ($grid * 2.8);
    }

    &.is-error {
        background-color: #fff8f7;
        border-color: $border-color-error;
        box-shadow: none;
        z-index: 5;

        &:hover {
            border-color: $border-color-hover-error;
            z-index: 10;
        }

        &.is-focused {
            border-color: $border-color-focus-error;
            box-shadow: 0 0 ($grid * .8) $box-shadow-focus-error;
            z-index: 20;
        }
    }

    &.is-warning {
        background-color: #fffaf0;
        border-color: $border-color-warning;
        box-shadow: none;
        z-index: 5;

        &:hover {
            border-color: $border-color-hover-warning;
            z-index: 10;
        }

        &.is-focused {
            border-color: $border-color-focus-warning;
            box-shadow: 0 0 ($grid * .8) $box-shadow-focus-warning;
            z-index: 20;
        }

        @include respond-to-ie(8) {
            $ie-hex: ie-hex-str(#fffaf0);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex}, endColorstr=#{$ie-hex})";
        }
    }

    &.is-focused {
        border-color: $border-color-focus;
        box-shadow: 0 0 ($grid * .8) $box-shadow-focus;
        z-index: 20;
    }

    &.is-loading {
        &::after {
            @include retina-image-compat($root + 'img/loader-small', ($grid * 3) ($grid * 3));

            animation: spin 0.8s linear infinite;
            content: "";
            display: block;
            height: ($grid * 3);
            position: absolute;
            right: ($grid * 3.4);
            top: ($grid * 3.4);
            width: ($grid * 3);
        }
    }

    .ie8 &:after {
        background: url('img/dropdown-expand.png');
    }
}

.cui__dropdown--native__label {
    @include typography(($grid * 2.8), regular);

    line-height: ($grid * 10);
    padding: 0 ($grid * 4);
    position: absolute;

    .is-error &, .is-warning & {
        height: ($grid * 9);
        top: ($grid * 1);
    }

    .is-selected & {
        @include typography(($grid * 2.2), regular);

        color: map-get($colors, 'grey-text');
        transform: translate(0, ($grid * -2));

        .ie9 &, .ie8 & {
            margin-top: ($grid * -2);
        }
    }

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }

    .ie9 &, .ie8 & {
        z-index: -1;
    }
}

.cui__dropdown--native__current-option {
    @include typography(($grid * 2.8), semi-bold);

    line-height: ($grid * 10);
    padding: 0 ($grid * 4);
    position: absolute;

    .is-selected &, .is-error &, .is-warning & {
        height: ($grid * 9);
        top: ($grid * 1);
    }

    .is-disabled & {
        color: #CBCBCD;
    }
}

.cui__dropdown--native__floating-label {
    @include typography(($grid * 2.8), regular);

    left: 0;
    line-height: ($grid * 10);
    padding: 0 ($grid * 4);
    position: absolute;
    top: 0;

    .is-error &, .is-warning & {
        @include typography(($grid * 2.2), regular);

        transform: translate(0, ($grid * -2));

        .ie9 &, .ie8 & {
            margin-top: ($grid * -2);
        }
    }


    .is-error & {
        color: #e63200;
    }

    .is-warning & {
        color: #ecb800;
    }

    .is-disabled & {
        color: #CBCBCD;
    }
}

.cui__dropdown--native__select {
    @include opacity(0);

    appearance: none;
    cursor: pointer;
    height: ($grid * 10.2);
    outline: none;
    position: absolute;
    width: 100%;
    z-index: 2;
}

// CUSTOM
.cui__dropdown--custom {
    @include options();

    &::after {
        background: url('data:image/svg+xml,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-488, -428)"><g transform="translate(488, 429)"><rect x="0" y="0" width="14" height="14"></rect><path d="M11,9 L7,5 L3,9" stroke="#3C3C3E" stroke-linecap="round"></path></g></g></g></svg>');
        content: "";
        display: block;
        height: ($grid * 2.8);
        position: absolute;
        right: ($grid * 3.4);
        top: ($grid * 3.4);
        width: ($grid * 2.8);
    }

    &.is-collapsed {
        margin-bottom: ($grid * .4);

        &::after {
            background: url('data:image/svg+xml,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-488, -428)"><g transform="translate(488, 429)"><rect x="0" y="0" width="14" height="14"></rect><path d="M11,5 L7,9 L3,5" stroke="#3C3C3E" stroke-linecap="round"></path></g></g></g></svg>');
            content: "";
            display: block;
            height: ($grid * 2.8);
            position: absolute;
            right: ($grid * 3.4);
            top: ($grid * 3.4);
            width: ($grid * 2.8);
        }
    }

    &.is-loading {
        &::after {
            @include retina-image-compat($root + 'img/loader-small', ($grid * 3) ($grid * 3));

            animation: spin 0.8s linear infinite;
            content: "";
            display: block;
            height: ($grid * 3);
            position: absolute;
            right: ($grid * 3.4);
            top: ($grid * 3.4);
            width: ($grid * 3);
        }
    }
}

.cui__dropdown--custom__option {
    @include option();
    @include radio();

    padding-left: ($grid * 10);
    padding-right: ($grid * 4);

    .is-collapsed & {
        display: none;
        position: static;

        &.is-selected {
            display: block;
            padding: ($grid * 2.8) ($grid * 6) ($grid * 2.4) ($grid * 4);

            &::before {
                @include opacity(0);

                -webkit-transition: all 0s;
                transition: all 0s;
            }

            &::after {
                @include opacity(0);

                -webkit-transition: all 0s;
                transition: all 0s;
            }
        }
    }

    .is-loading & {
        display: none;

        &.is-selected {
            display: block;
            padding: ($grid * 2.6) ($grid * 6) ($grid * 1.4) ($grid * 4);

            &::before {
                @include opacity(0);

                -webkit-transition: all 0s;
                transition: all 0s;
            }

            &::after {
                @include opacity(0);

                -webkit-transition: all 0s;
                transition: all 0s;
            }
        }
    }
}

.cui__dropdown--custom__option__heading {
    @include typography(($grid * 2.8), semi-bold);
    line-height: ($grid * 4);
}

.cui__dropdown--custom__option__description {
    @include typography(($grid * 2.6), regular);
    color: map-get($colors, grey-text);
    line-height: ($grid * 4);

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}

// RADIO
.cui__dropdown--radio {
    @include options();
}

.cui__dropdown--radio__option {
    @include option();
    @include radio();

    padding-left: ($grid * 10);
    padding-right: ($grid * 4);
}

.cui__dropdown--radio__option__heading {
    @include typography(($grid * 2.8), semi-bold);
    line-height: ($grid * 4);
}

.cui__dropdown--radio__option__description {
    @include typography(($grid * 2.6), regular);
    color: map-get($colors, grey-text);
    line-height: ($grid * 4);

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}
