@mixin dropdown() {
    border: .2rem solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    &:hover {
        border-color: $border-color-hover;
        z-index: 10;
    }

    &.is-disabled {
        background: #FAFAFA;
        color: map-get($colors, grey-lines);
        cursor: default;

        &:hover {
            border-color: $border-color;
        }

        &::after {
            opacity: .2;
        }
    }
}

// NATIVE
.cui__dropdown--native {
    @include stackable();
    @include dropdown();

    height: 10.2rem;
    margin: 0 0 -.2rem 0;
    position: relative;

    &::after {
        background: url('data:image/svg+xml,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-488, -428)"><g transform="translate(488, 429)"><rect x="0" y="0" width="14" height="14"></rect><path d="M11,5 L7,9 L3,5" stroke="#3C3C3E" stroke-linecap="round"></path></g></g></g></svg>');
        content: "";
        display: block;
        height: 2.8rem;
        position: absolute;
        right: 3.4rem;
        top: 3.4rem;
        width: 2.8rem;
    }

    &.is-error {
        background-color: #fff8f7;
        border-color: $border-color-error;
        box-shadow: none;
        z-index: 5;

        &:hover {
            border-color: $border-color-hover-error;
            z-index: 10;
        }

        &.is-focused {
            border-color: $border-color-focus-error;
            box-shadow: 0 0 .8rem $box-shadow-focus-error;
            z-index: 20;
        }
    }

    &.is-warning {
        background-color: #fffaf0;
        border-color: $border-color-warning;
        box-shadow: none;
        z-index: 5;

        &:hover {
            border-color: $border-color-hover-warning;
            z-index: 10;
        }

        &.is-focused {
            border-color: $border-color-focus-warning;
            box-shadow: 0 0 .8rem $box-shadow-focus-warning;
            z-index: 20;
        }

        @include respond-to-ie(8) {
            $ie-hex: ie-hex-str(#fffaf0);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex}, endColorstr=#{$ie-hex})";
        }
    }

    &.is-focused {
        border-color: $border-color-focus;
        box-shadow: 0 0 .8rem $box-shadow-focus;
        z-index: 20;
    }

    &.is-loading {
        &::after {
            @include retina-image-compat($ui-toolkit-path + 'img/loader-small', 3rem 3rem);

            animation: spin 0.8s linear infinite;
            content: "";
            display: block;
            height: 3rem;
            position: absolute;
            right: 3.4rem;
            top: 3.4rem;
            width: 3rem;
        }
    }
}

.cui__dropdown--native__label {
    @include typography(2.8rem, regular);

    line-height: 10rem;
    padding: 0 4rem;
    position: absolute;

    .is-error &, .is-warning & {
        height: 9rem;
        top: 1rem;
    }

    .is-selected & {
        @include typography(2.2rem, regular);

        color: map-get($colors, 'grey-text');
        transform: translate(0, -2rem);
    }

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}

.cui__dropdown--native__current-option {
    @include typography(2.8rem, semi-bold);

    line-height: 10rem;
    padding: 0 4rem;
    position: absolute;

    .is-selected &, .is-error &, .is-warning & {
        height: 9rem;
        top: 1rem;
    }

    .is-disabled & {
        color: #CBCBCD;
    }
}

.cui__dropdown--native__floating-label {
    @include typography(2.8rem, regular);

    left: 0;
    line-height: 10rem;
    padding: 0 4rem;
    position: absolute;
    top: 0;

    .is-error &, .is-warning & {
        @include typography(2.2rem, regular);

        transform: translate(0, -2rem);
    }


    .is-error & {
        color: #e63200;
    }

    .is-warning & {
        color: #ecb800;
    }

    .is-disabled & {
        color: #CBCBCD;
    }
}

.cui__dropdown--native__select {
    appearance: none;
    cursor: pointer;
    height: 10.2rem;
    opacity: 0;
    outline: none;
    position: absolute;
    width: 100%;
    z-index: 2;
}

// CUSTOM
.cui__dropdown--custom {
    @include dropdown();

    padding: .2rem 0 1.6rem 0;
    position: relative;

    &.is-collapsed {
        &::after {
            background: url('data:image/svg+xml,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-488, -428)"><g transform="translate(488, 429)"><rect x="0" y="0" width="14" height="14"></rect><path d="M11,5 L7,9 L3,5" stroke="#3C3C3E" stroke-linecap="round"></path></g></g></g></svg>');
            content: "";
            display: block;
            height: 2.8rem;
            position: absolute;
            right: 3.4rem;
            top: 3.4rem;
            width: 2.8rem;
        }
    }

    &.is-loading {
        &::after {
            @include retina-image-compat($ui-toolkit-path + 'img/loader-small', 3rem 3rem);

            animation: spin 0.8s linear infinite;
            content: "";
            display: block;
            height: 3rem;
            position: absolute;
            right: 3.4rem;
            top: 3.4rem;
            width: 3rem;
        }
    }
}

.cui__dropdown--custom__option {
    padding: 2.6rem 6rem 1.4rem 10rem;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    &::before {
        border: .2rem solid $border-color;
        border-radius: 2.8rem;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 2.8rem;
        left: 4rem;
        position: absolute;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        top: 3.2rem;
        width: 2.8rem;
    }

    &::after {
        background: white;
        border-radius: 1.2rem;
        content: "";
        display: block;
        height: .8rem;
        left: 5rem;
        opacity: 0;
        position: absolute;
        top: 6rem;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: .8rem;
    }

    &:hover {
        &::before {
            border-color: $border-color-hover;
        }

        .is-disabled & {
            &::before {
                border-color: $border-color;
            }
        }
    }

    &.is-selected {
        &::before {
            background: map-get($colors, klarna-blue);
            border-color: map-get($colors, klarna-blue);
            opacity: 1;
        }

        &::after {
            opacity: 1;
            top: 4.2rem;
        }

        .is-disabled & {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &::after {
                opacity: 1;
                top: 4.2rem;
            }
        }
    }


    .is-collapsed & {
        display: none;

        &.is-selected {
            display: block;
            padding: 2.6rem 6rem 1.4rem 4rem;

            &::before {
                opacity: 0;
                -webkit-transition: all 0s;
                transition: all 0s;
            }

            &::after {
                opacity: 0;
                -webkit-transition: all 0s;
                transition: all 0s;
            }
        }
    }

    .is-loading & {
        display: none;

        &.is-selected {
            display: block;
            padding: 2.6rem 6rem 1.4rem 4rem;

            &::before {
                opacity: 0;
                -webkit-transition: all 0s;
                transition: all 0s;
            }

            &::after {
                opacity: 0;
                -webkit-transition: all 0s;
                transition: all 0s;
            }
        }
    }
}

.cui__dropdown--custom__option__heading {
    @include typography(2.8rem, semi-bold);
    line-height: 4rem;
}

.cui__dropdown--custom__option__description {
    @include typography(2.6rem, regular);
    color: map-get($colors, grey-text);
    line-height: 4rem;

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}

// SELECTOR
// (multiple choice)
.cui__dropdown--selector {
    @include dropdown();

    padding: .2rem 0 1.6rem 0;
}

.cui__dropdown--selector__option {
    padding: 2.6rem 6rem 1.4rem 10rem;
    position: relative;

    &::before {
        border: .2rem solid $border-color;
        border-radius: $border-radius-checkbox;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 2.8rem;
        left: 4rem;
        position: absolute;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        top: 3.2rem;
        width: 2.8rem;
    }

    &::after {
        background: url('data:image/svg+xml,
        <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
                <g transform="translate(-720, -1508)">
                    <g transform="translate(700, 1457)">
                        <g transform="translate(0, 33)">
                            <g transform="translate(20, 14)">
                                <g transform="translate(0, 4)">
                                    <g>
                                        <rect x="0" y="0" width="14" height="14" rx="2"></rect>
                                        <path d="M3.8,6.67583361 L6.40484483,9.5982824 L10.7279517,4.2" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>');
        content: "";
        display: block;
        height: 2.8rem;
        left: 4rem;
        opacity: 0;
        position: absolute;
        top: 6rem;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: 2.8rem;
    }

    &:hover {
        &::before {
            border-color: $border-color-hover;
        }

        .is-disabled & {
            &::before {
                border-color: $border-color;
            }
        }
    }

    &.is-selected {
        &::before {
            background: map-get($colors, klarna-blue);
            border-color: map-get($colors, klarna-blue);
        }

        &::after {
            opacity: 1;
            top: 3.2rem;
        }

        .is-disabled & {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &::after {
                opacity: 1;
                top: 3.2rem;
            }
        }
    }
}

.cui__dropdown--selector__option__heading {
    @include typography(2.8rem, semi-bold);
    line-height: 4rem;
}

.cui__dropdown--selector__option__description {
    @include typography(2.6rem, regular);
    color: map-get($colors, grey-text);
    line-height: 4rem;

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}

// RADIO
.cui__dropdown--radio {
    @include dropdown();

    padding: .2rem 0 1.6rem 0;
}

.cui__dropdown--radio__option {
    padding: 2.6rem 6rem 1.4rem 10rem;
    position: relative;

    &::before {
        border: .2rem solid $border-color;
        border-radius: 2.8rem;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 2.8rem;
        left: 4rem;
        position: absolute;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        top: 3.2rem;
        width: 2.8rem;
    }

    &::after {
        background: white;
        border-radius: 1.2rem;
        content: "";
        display: block;
        height: .8rem;
        left: 5rem;
        opacity: 0;
        position: absolute;
        top: 4.2rem;
        transform: scale(3, 3);
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        width: .8rem;
    }

    &:hover {
        &::before {
            border-color: $border-color-hover;
        }

        .is-disabled & {
            &::before {
                border-color: $border-color;
            }
        }
    }

    &.is-selected {
        &::before {
            background: map-get($colors, klarna-blue);
            border-color: map-get($colors, klarna-blue);
        }

        &::after {
            opacity: 1;
            top: 4.2rem;
            transform: scale(1, 1);
        }

        .is-disabled & {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &::after {
                opacity: 1;
                top: 4.2rem;
            }
        }
    }
}

.cui__dropdown--radio__option__heading {
    @include typography(2.8rem, semi-bold);
    line-height: 4rem;
}

.cui__dropdown--radio__option__description {
    @include typography(2.6rem, regular);
    color: map-get($colors, grey-text);
    line-height: 4rem;

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}
