.cui__field {
    @include stackable();

    border: .2rem solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    clear: both;
    display: block;
    height: 10.2rem;
    margin-bottom: -.2rem;
    position: relative;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    &.-big {
        height: 12rem;
    }

    &.is-hidden {
        display: none;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        border-color: $border-color-hover;
        z-index: 10;
    }

    &.is-focused {
        border-color: $border-color-focus;
        box-shadow: 0 0 4px $box-shadow-focus;
        z-index: 20;
    }

    &.is-error {
        background-color: #fff8f7;
        border-color: $border-color-error;
        box-shadow: none;
        z-index: 5;

        &:hover {
            border-color: $border-color-hover-error;
            z-index: 10;
        }

        &.is-focused {
            border-color: $border-color-focus-error;
            box-shadow: 0 0 4px $box-shadow-focus-error;
            z-index: 20;
        }
    }

    &.is-warning {
        background-color: #fffaf0;
        border-color: $border-color-warning;
        box-shadow: none;
        z-index: 5;

        &:hover {
            border-color: $border-color-hover-warning;
            z-index: 10;
        }

        &.is-focused {
            border-color: $border-color-focus-warning;
            box-shadow: 0 0 4px $box-shadow-focus-warning;
            z-index: 20;
        }

        @include respond-to-ie(8) {
            $ie-hex: ie-hex-str(#fffaf0);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex}, endColorstr=#{$ie-hex})";
        }
    }

    &.is-disabled {
        background-color: #FAFAFA;
        border-color: map-get($colors, grey-lines);

        &:hover {
            border-color: map-get($colors, grey-lines);
        }
    }
}

.cui__field__label, .cui__field__input {
    @include typography(2.8rem, regular);

    line-height: 10rem;
    padding: 0 4rem;
    position: absolute;
}

.cui__field__label {
    color: map-get($colors, 'grey-text');
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    .-big & {
        line-height: 12rem;
    }

    .-big.is-filled &, .-big.is-error &, .-big.is-warning & {
        transform: translate(0, -2.2rem);
    }

    .is-filled &, .is-error &, .is-warning & {
        @include typography(2.2rem, regular);

        transform: translate(0, -2rem);
    }

    .is-filled & {
        color: map-get($colors, 'grey-text');
    }

    .is-error & {
        color: #e63200;
    }

    .is-warning & {
        color: #ecb800;
    }

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}

.cui__field__input {
    @include typography(2.8rem, semi-bold);

    appearance: none;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: #3C3C3E;
    outline: none;
    width: 100%;

    .-big & {
      height: 12rem;
    }

    .-big.is-filled &, .-big.is-error &, .-big.is-warning & {
      height: 9.8rem;
      top: 2.2rem;
    }

    .is-filled &, .is-error &, .is-warning & {
        height: 9rem;
        top: 1rem;
    }

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }

    .safari &,
    .ios & {
        -webkit-transform: translate3d(0, 0, 0);
    }

    @include respond-to-ie(8) {
        border: 1px solid $border-color;
    }
}

.cui__field--icon {
    @extend .cui__field;
}

.cui__field--icon__label {
    @extend .cui__field__label;
}

.cui__field--icon__input {
    @extend .cui__field__input;
}

.cui__field--icon__label, .cui__field--icon__input {
    padding-left: 8.4rem;
}

.cui__field--icon__icon {
    background: #A8A8A8;
    display: block;
    height: 4rem;
    margin: 3rem 0 0 2.4rem;
    position: absolute;
    width: 4rem;
}

.cui__field__wrapper {
    padding-bottom: 4rem;
    position: relative;

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

.cui__subtitle + .cui__field__wrapper {
    padding-top: 1rem;
}
