.cui__paragraph--primary {
  @include typography(2.8rem, regular);
  @include vertical-grid(5rem, 2px);

  color: map-get($colors, black);
  margin-bottom: 5rem;
}

.cui__paragraph--secondary {
  @include typography(2.8rem, regular);
  @include vertical-grid(5rem, 2px);

  color: map-get($colors, grey-text);
  margin-bottom: 5rem;
}

.cui__paragraph--legal {
  @include typography(2.2rem, regular);
  @include vertical-grid(4rem, 1px);

  color: map-get($colors, grey-text);
}
