.cui__subtitle {
  @include typography(2.4rem, semi-bold);

  color: map-get($colors, black);
  height: 4rem;
  line-height: 4rem;
  margin: 4rem 0 2rem 0;
  padding: .2rem 0 .8rem 0;
  text-transform: uppercase;

  &.-blue {
    color: map-get($colors, klarna-blue);
  }
}
