.cui__subtitle {
  @include typography(2.4rem, semi-bold);

  color: map-get($colors, black);
  height: 4rem;
  line-height: 4rem;
  margin: 0;
  padding: 3.2rem 0 1.8rem 0;
  text-transform: uppercase;

  &.-blue {
    color: map-get($colors, klarna-blue);
  }
}

.cui__title--primary + .cui__subtitle {
    margin-top: -2rem;
}
