// SINGLE
.cui__switch {
    padding-bottom: .6rem;
    padding-top: .4rem;

    @include switch(0, .6rem);

    &.-right {
        @include switch(0, .6rem, right);
    }

    &.-checkbox {
        @include respond-to-wide() {
            @include checkbox(2rem, 1.6rem);
        }
    }
}

// MULTIPLE
.cui__switch--multiple {
    @include options(false);

    padding: 0;
    margin-bottom: .6rem;

    &.-borderless {
        border: none;
    }
}

.cui__switch--multiple__option {
    background: #ffffff;
    padding: 1.8rem 4rem 2.2rem 4rem;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
        background: map-get($colors, block-hover);;
    }

    @include switch(4rem, 3.2rem, right);

    .-checkbox & {
        @include respond-to-wide() {
            @include checkbox(6rem, 2.4rem);
        }
    }


    &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding-top: 2.8rem;

        .-checkbox & {
            @include respond-to-wide() {
                @include checkbox(6rem, 3.4rem);
            }
        }
    }


    &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding-bottom: 3.2rem;

        .-checkbox & {
            @include respond-to-wide() {
                @include checkbox(6rem, 2.4rem);
            }
        }
    }

    .-borderless & {
        border-radius: $border-radius;

        &:first-child {
            padding-top: 1.8rem;
        }

        &:last-child {
            padding-bottom: 2.2rem;
        }

    }

    .-borderless.-checkbox & {
        &:first-child {
            @include respond-to-wide() {
                @include checkbox(6rem, 2.4rem);
            }
        }
    }

    .is-disabled.-checkbox & {
        @include respond-to-wide() {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &:hover {
                &::before {
                    background: map-get($colors, grey-lines);
                    border-color: map-get($colors, grey-lines);
                }
            }

            &::after {
                opacity: 1;
                top: 3.2rem;
            }
        }
    }
}

.cui__switch--multiple__option__heading {
    @include typography(2.8rem, semi-bold);
    line-height: 4rem;
}

.cui__switch--multiple__option__description {
    @include typography(2.6rem, regular);
    color: map-get($colors, grey-text);
    line-height: 4rem;

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}
