@import "../settings";
@import "../mixins/switch";

// SINGLE
.cui__switch {
    padding-bottom: .6rem;
    padding-top: .4rem;

    @include switch(0, .6rem);

    &.-right {
        @include switch(0, .6rem, right);
    }

    &.-checkbox {
        @include respond-to-wide() {
            @include checkbox(2rem, 1.6rem);
        }
    }
}

// MULTIPLE
.cui__switch--multiple {
    @include options(false);

    padding: 0;
    margin-bottom: .6rem;
}

.cui__switch--multiple__option {
    @include option();

    padding-left: 10rem;
    padding-right: 4rem;

    @include switch(4rem, 3.2rem, right);

    .-checkbox & {
        @include respond-to-wide() {
            @include checkbox(6rem, 2.4rem);
        }
    }

    &:first-child {
        .-checkbox & {
            @include respond-to-wide() {
                @include checkbox(6rem, 3.4rem);
            }
        }
    }


    &:last-child {
        .-checkbox & {
            @include respond-to-wide() {
                @include checkbox(6rem, 2.4rem);
            }
        }
    }

    .-borderless.-checkbox & {
        &:first-child {
            @include respond-to-wide() {
                @include checkbox(6rem, 2.4rem);
            }
        }
    }

    .is-disabled.-checkbox &.is-checked {
        @include respond-to-wide() {
            &::before {
                background: map-get($colors, grey-lines);
                border-color: map-get($colors, grey-lines);
            }

            &:hover {
                &::before {
                    background: map-get($colors, grey-lines);
                    border-color: map-get($colors, grey-lines);
                }
            }

            &::after {
                opacity: 1;
                top: 2.4rem;
            }

            &:first-child {
                &::after {
                    top: 3.4rem;
                }
            }
        }
    }

    .is-disabled.-borderless.-checkbox & {
        &:first-child {
            @include respond-to-wide() {
                &::before {
                    background: map-get($colors, grey-lines);
                    border-color: map-get($colors, grey-lines);
                }
                &:first-child {
                    &::after {
                        top: 2.4rem;
                    }
                }
            }
        }
    }

}

.cui__switch--multiple__option__heading {
    @include typography(2.8rem, semi-bold);
    line-height: 4rem;
}

.cui__switch--multiple__option__description {
    @include typography(2.6rem, regular);
    color: map-get($colors, grey-text);
    line-height: 4rem;

    .is-disabled & {
        color: map-get($colors, grey-lines);
    }
}
