// TITLE
.cui__title--primary, .cui__title--secondary {
    @include typography(5.2rem, regular);

    color: map-get($colors, black);
    line-height: 7rem;
    margin: 0;

    &.-blue {
      color: map-get($colors, klarna-blue);
    }
}

.cui__title--primary {
    @include typography(5.2rem, light);

    padding: 3.6rem 0 3.4rem 0;

    &.-small {
        @include typography(4.4rem, light);

        padding: 3.8rem 0 3.2rem 0;

        &.-strong {
            @include typography(4.4rem, regular);
        }
    }
}

.cui__title--secondary {
    @include typography(3rem, semi-bold);

    padding: 4.4rem 0 2.6rem 0;
    line-height: 3rem;
}

// SUBTITLE
.cui__subtitle {
  @include typography(2.4rem, semi-bold);

  color: map-get($colors, black);
  height: 4rem;
  line-height: 4rem;
  margin: 0;
  padding: 3.2rem 0 1.8rem 0;
  text-transform: uppercase;

  &.-blue {
    color: map-get($colors, klarna-blue);
  }
}

.cui__title--primary + .cui__subtitle {
    margin-top: -2rem;
}

// PARAGRAPH
.cui__paragraph--primary, .cui__paragraph--secondary {
    line-height: 5rem;
    margin: 0;
    padding: .6rem 0 3.4rem 0;

    &.-condensed {
        line-height: 4rem;
        padding-top: 0rem;
        padding-bottom: 3rem;
    }
}

.cui__paragraph--primary {
  @include typography(2.6rem, regular);

  color: map-get($colors, black);
}

.cui__paragraph--secondary {
  @include typography(2.6rem, regular);

  color: map-get($colors, grey-text);
}

.cui__paragraph--legal {
  @include typography(2.2rem, regular);

  color: map-get($colors, grey-text);
  line-height: 4rem;
  margin: 0;
  padding: 0.4rem 0 2.6rem 0;
}

// LABEL
.cui__label {
    @include typography(2rem, semi-bold);

    background: map-get($colors, klarna-blue);
    border-radius: $border-radius;
    bottom: .2rem;
    color: white;
    display: inline-block;
    line-height: 3rem;
    padding: 0 1rem;
    position: relative;
    text-transform: uppercase;
}
