.cui__title--primary, .cui__title--secondary {
    @include typography(5.2rem, regular);

    color: map-get($colors, black);
    line-height: 7rem;
    margin: 0;

    &.-blue {
      color: map-get($colors, klarna-blue);
    }
}

.cui__title--primary {
    @include typography(5.2rem, light);

    padding: 3.6rem 0 3.4rem 0;

    &.-small {
        @include typography(4.4rem, light);

        padding: 3.8rem 0 3.2rem 0;

        &.-strong {
            @include typography(4.4rem, regular);
        }
    }
}

.cui__title--secondary {
    @include typography(3rem, semi-bold);

    padding: 3.4rem 0 3.6rem 0;
    line-height: 3rem;
}
