.cui__title--primary, .cui__title--secondary {
  @include typography(5.2rem, regular);

  line-height: 7rem;
  margin-bottom: 2rem;
}

.cui__title--primary {
  color: #0072CC;
}

.cui__title--secondary {
  color: map-get($colors, black);
}
