%animate-modal-in {
  @include animation-name(animate-modal-in);
  @include animation-duration(0.45s);
  @include animation-timing-function($ease-out-back);
  @include animation-fill-mode(both);
}
@include keyframes(animate-modal-in) {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(1));
  }
}

%show-tooltip {
  @include animation-name(show-tooltip);
  @include animation-duration(0.7s);
  @include animation-timing-function($ease-out-quint);
  @include transform(translateZ(0));
  @include animation-fill-mode(both);
}

@include keyframes(show-tooltip) {
  0% {
    opacity: 0;
    @include transform(translateY(10px));
  }
  100% {
    @include transform(translateY(0px));
    opacity: 1;
  }
}

@include keyframes(spin) {
    to {
        @include transform(rotate(1turn))
    }
}
