/*
* Mixins for borders for editor elements
*/


// Set border radii of a field editor
@mixin field-editor-border (
    $has-element-above: true,
    $has-element-below: true,
    $has-element-right: false,
    $desktop-has-element-above: $has-element-above,
    $desktop-has-element-below: $has-element-below,
    $desktop-has-element-right: $has-element-right
) {

    @include border-styles(
        $has-above: $has-element-above,
        $has-below: $has-element-below,
        $has-right: $has-element-right
    )

    @include respond-to-wide {

        @include border-styles(
            $has-above: $desktop-has-element-above,
            $has-below: $desktop-has-element-below,
            $has-right: $desktop-has-element-right
        )
    }
}

//internal mixin used by field-editor-border mixin
@mixin border-styles (
    $has-above: true,
    $has-below: true,
    $has-right: false
) {

    @if not($has-above) {
        border-top-left-radius: $input-border-radius;
        border-top-right-radius: $input-border-radius;
    }

    @if not($has-below) {
        border-bottom-left-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }

    @if $has-right {
        border-right: 0
    }
}
