@mixin button($background, $text-color, $darken-color, $darken-attributes) {
    @include typography(($grid * 2.8), semi-bold);

    -webkit-transition: all .2s ease;
    appearance: none;
    background: $background;
    border: ($grid * .2) solid map-get($colors, klarna-blue);
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $text-color;
    cursor: pointer;
    line-height: ($grid * 10) - ($grid * .4);
    outline: none;
    padding: 0 ($grid * 9);
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    vertical-align: top;

    &.small {
        font-size: ($grid * 2.8);
        line-height: ($grid * 7) - ($grid * .4);
        padding: 0 ($grid * 5.6);
    }

    &.big {
        letter-spacing: ($grid * .01);
        line-height: ($grid * 12) - ($grid * .4);
        padding: 0 ($grid * 14);
        text-transform: uppercase;
    }

    &.right {
        width: 100%;

        @include respond-to-wide {
            float: right;
            margin-left: ($grid * 4);
            width: auto;
        }
    }

    &.left {
        float: left;
    }

    &.has-price {
        padding: 0 ($grid * 4);
        text-align: left;
    }

    &:hover,
    &:focus {
        @each $attribute in $darken-attributes {
            #{$attribute}: darken($darken-color, 5.2);
        }
    }

    &:active {
        @each $attribute in $darken-attributes {
            #{$attribute}: darken($darken-color, 10.1);
        }
    }

    &.is-disabled {
        @include opacity(.2);
        cursor: default;
        pointer-events: none;

        &:hover {
            background: $background;
        }

        &:active {
            background: $background;
        }

        &:focus {
            background: $background;
        }
    }

    &.is-loading {
        cursor: progress;

        &:hover {
            background: $background;
        }

        &:active {
            background: $background;
        }

        &:focus {
            background: $background;
        }
    }
}

@mixin button__price ($border-color) {
    float: right;
    margin-left: $grid * 4;
    padding-left: $grid * 4;

    &:before {
        border-left: 1px solid rgba($border-color, .1);
        content: ' ';
        height: 20px;
        position: relative;
        right: 20px;
        top: 1px;
    }
}


@mixin button__loader($image-name) {
    @include retina-image-compat($root + 'img/' + $image-name, ($grid * 4) ($grid * 4));

    animation: spin .8s linear infinite;
    display: inline-block;
    font-size: 0;
    height: ($grid * 4);
    vertical-align: text-bottom;
    width: ($grid * 4);

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    @include respond-to-ie(9) {
        @include font-size(($grid * 3));
    }

    // Preload the image
    &:before {
        content: url($root + 'img/' + $image-name + '.png');
        display: none;
        height: 0;
        width: 0;

        @include hidpi {
            content: url($root + 'img/' + $image-name + '@2x.png');
        }
    }
}
