/*
* Mixins for settings dimensions for elements
*/


// Set dimensions of a field
@mixin field-width-and-margin(
    $width,
    $desktop-width: $width,
    $desktop-has-element-right: false,
    $desktop-has-element-left: false,
    $margin: 0
) {
    width: $width;
    margin: $margin;

    @include respond-to-wide {
        width: $desktop-width;

        @if not($desktop-has-element-left) {
            clear: left;
        }
    }
}
