@mixin illustration__stroke ($color) {
    -webkit-transition: all .2s ease;
    fill: none;
    stroke: $color;
    transition: all .2s ease;
}

@mixin illustration__fill ($color) {
    -webkit-transition: all .2s ease;
    fill: $color;
    transition: all .2s ease;
}

@mixin illustration($color) {
    .cui__illustration__fill {
        @include illustration__fill($color);
    }

    .cui__illustration__stroke {
        @include illustration__stroke($color);
    }
}
