$stackable-border-width: $grid * 0.2;

@mixin partial-width ($width) {
    width: $width;
    clear: none;
    float: left;
}

@mixin stacked-responsiveness () {
    @include respond-to-wide {
        margin-left: ($grid * -.2);
    }

    &.non-responsive {
        margin-left: ($grid * -.2);

        .ie8 & {
            margin-left: 0;
        }
    }

    &.half {
        @include respond-to-wide {
            width: calc(50% + #{$stackable-border-width});
        }

        &.non-responsive {
            width: calc(50% + #{$stackable-border-width});
        }
    }

    &.forty {
        @include respond-to-wide {
            width: calc(40% + #{$stackable-border-width});
        }

        &.non-responsive {
            width: calc(40% + #{$stackable-border-width});
        }
    }

    &.quarter {
        @include respond-to-wide {
            width: calc(25% + #{$stackable-border-width});
        }

        &.non-responsive {
            width: calc(25% + #{$stackable-border-width});
        }
    }

    &.twenty {
        @include respond-to-wide {
            width: calc(20% + #{$stackable-border-width});
        }

        &.non-responsive {
            width: calc(20% + #{$stackable-border-width});
        }
    }
}

@mixin stackable () {
    &.square {
        border-radius: 0;
    }

    &.half {
        @include respond-to-wide {
            @include partial-width(50%);
        }

        &.non-responsive {
            @include partial-width(50%);
        }
    }

    &.forty {
        @include respond-to-wide {
            @include partial-width(40%);
        }

        &.non-responsive {
            @include partial-width(40%);
        }
    }

    &.quarter {
        @include respond-to-wide {
            @include partial-width(25%);
        }

        &.non-responsive {
            @include partial-width(25%);
        }
    }

    &.twenty {
        @include respond-to-wide {
            @include partial-width(20%);
        }

        &.non-responsive {
            @include partial-width(20%);
        }
    }

    &.left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.center {
        border-radius: 0;
        @include stacked-responsiveness();

        &::after {
            content: "";
            clear: both;
            display: block;
        }
    }

    &.right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @include stacked-responsiveness();

        &::after {
            content: "";
            clear: both;
            display: block;
        }
    }

    &.top {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.top-left {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include respond-to-wide {
            border-top-right-radius: 0;
        }

        &.non-responsive {
            border-top-right-radius: 0;
        }
    }

    &.top-right {
        border-radius: 0;
        clear: right;

        @include respond-to-wide {
            border-top-right-radius: $border-radius;
        }

        &.non-responsive {
            border-top-right-radius: $border-radius;
        }

        @include stacked-responsiveness();
    }

    &.bottom-left {
        border-radius: 0;

        @include respond-to-wide {
            border-bottom-left-radius: $border-radius;
        }

        &.non-responsive {
            border-bottom-left-radius: $border-radius;
        }
    }

    &.bottom-right {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        @include respond-to-wide {
            border-bottom-left-radius: 0;
        }

        &.non-responsive {
            border-bottom-left-radius: 0;
        }
        @include stacked-responsiveness();
    }
}
