@mixin title--primary {
    @include typography(($grid * 5.2), light);

    color: map-get($colors, black);
    line-height: ($grid * 7);
    margin: 0;
    padding: ($grid * 3.6) 0 ($grid * 3.4);

    &.small {
        @include typography(($grid * 4.4), light);

        padding: ($grid * 3.8) 0 ($grid * 3.2);

        &.strong {
            @include typography(($grid * 4.4), regular);
        }
    }

    &.blue {
        color: map-get($colors, klarna-blue);
    }
}

@mixin title--secondary {
    @include typography(($grid * 3), semi-bold);

    color: map-get($colors, black);
    line-height: ($grid * 3);
    margin: 0;

    &.blue {
        color: map-get($colors, klarna-blue);
    }
}

@mixin subtitle {
    @include typography(($grid * 2.4), semi-bold);

    color: map-get($colors, black);
    height: ($grid * 4);
    line-height: ($grid * 4);
    margin: 0;
    padding: ($grid * 3.2) 0 ($grid * 1.8);
    text-transform: uppercase;

    &.blue {
        color: map-get($colors, klarna-blue);
    }

    &.condensed {
        padding: ($grid * .2) 0 ($grid * 1.8);
    }
}

@mixin paragraph {
    line-height: ($grid * 5);
    margin: 0;
    padding: ($grid * .6) 0 ($grid * 3.4);
}

@mixin paragraph-condensed {
    line-height: ($grid * 4);
    padding-top: 0;
    padding-bottom: ($grid * 3);
}

@mixin paragraph--primary {
    @include paragraph;
    @include typography(($grid * 2.6), regular);

    color: map-get($colors, black);
}

@mixin paragraph--primary-condensed {
    @include paragraph-condensed;
    @include typography(($grid * 2.6), regular);

    color: map-get($colors, black);
}

@mixin paragraph--secondary {
    @include paragraph;
    @include typography(($grid * 2.6), regular);

    color: map-get($colors, grey-text);
}

@mixin paragraph--secondary-condensed {
    @include paragraph-condensed;
    @include typography(($grid * 2.6), regular);

    color: map-get($colors, grey-text);
}

@mixin paragraph--legal {
    @include typography(($grid * 2.2), regular);

    color: map-get($colors, grey-text);
    line-height: ($grid * 4);
    margin: 0;
    padding: ($grid * .4) 0 ($grid * 2.6);
}

@mixin text-label {
    @include typography(($grid * 2.4), regular);

    color: map-get($colors, grey-text);
    line-height: ($grid * 3);
    margin: 0;
    padding: ($grid * 1.6) 0 ($grid * .4);
}
