@mixin tooltip-border {
    @include typography($grid * 2.6, regular);

    background: map-get($colors, light-grey);
    color: map-get($colors, black);
    border-radius: 6px;
    border: 1px solid $border-color;
    display: inline-block;
    max-width: 250px;
    position: relative;
    text-align: center;
    line-height: $grid * 3;
    margin: 0;
    padding: ($grid * 1.5) ($grid * 4);

    &:after, &:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
    }
}

%top {
    border-bottom: $grid solid;
    border-left: $grid solid transparent;
    border-right: $grid solid transparent;
    
    &:after{
        border-bottom-color: map-get($colors, light-grey);
        top: 1px;
    }
    
    &:before{
        border-bottom-color: $border-color;
        top: 0;
    }
}

%bottom {
    border-left: $grid solid transparent;
    border-right: $grid solid transparent;
    border-top: $grid solid;

    &:after{
        border-top-color: map-get($colors, light-grey);
        top: 98%;
    }
    
    &:before{
        border-top-color: $border-color;
        top: 100%;
    }
}

%right {
    border-bottom: $grid solid transparent;
    border-left: $grid solid;
    border-top: $grid solid transparent;
    
    &:after{
        border-left-color: map-get($colors, light-grey);
        right: -$grid+1;
    }
    
    &:before{
        border-left-color: $border-color;
        right: -$grid;
    }
}

%left {
    border-bottom: $grid solid transparent;
    border-right: $grid solid;
    border-top: $grid solid transparent;

    &:after{
        border-right-color: map-get($colors, light-grey);
        left: -$grid+1;
    }
    
    &:before{
        border-right-color: $border-color;
        left: -$grid;
    }
}

%-left {
    left: 0;
}

%-center {
    left: 50%;
}

%-right {
    left: 100%;
}

// scss-lint:disable PropertySortOrder
%-top {
    top: 0%;
    transform: translate(0, $grid);
    -ms-transform: translate(0, $grid);
}

// scss-lint:disable PropertySortOrder
%-middle {
    top: 50%;
    transform: translate(0, -$grid);
    -ms-transform: translate(0, -$grid);
}

// scss-lint:disable PropertySortOrder
%-bottom {
    top: 100%;
    transform: translate(0, -$grid * 3);
    -ms-transform: translate(0, -$grid * 3);
}

