/**
 * Adds all atributes to define the best typography as possible
 */
@mixin typography($size, $weight) {
    @include font-size($size);

    font-family: $base-font-family;
    font-weight: map-get($font-weights, $weight);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

/**
 * Convert px to rem
 */
@function rem($value, $base: $base-font-size) {
    @return $value/$base * 1rem;
}

/**
 * Render font size in rem, with fallback to px
 */
@mixin font-size($size-in-px) {
    font-size: $size-in-px;
    font-size: rem($size-in-px);
}

/**
 * Calculate rhythm units
 * http://compass-style.org/reference/compass/typography/vertical_rhythm/#function-rhythm
 */
@function rhythm($lines: 1, $font-size: $base-font-size, $offset: 0) {
  $rhythm: ($lines * $base-line-height - $offset) / $font-size;

  // Round the pixels down to nearest integer.
  $rhythm: floor($rhythm);

  @return $rhythm;
}

/**
 * Apply a border and whitespace to any side without destroying the vertical rhythm. The whitespace must be greater than the width of the border.
 * http://compass-style.org/reference/compass/typography/vertical_rhythm/#mixin-apply-side-rhythm-border
 */
@mixin apply-side-rhythm-border(
    $side,
    $width: 1px,
    $lines: 1,
    $font-size: $base-font-size,
    $border-style: solid
) {
  border-#{$side}-style: $border-style;
  border-#{$side}-width: $width / $font-size;
  padding-#{$side}: rhythm($lines, $font-size, $offset: $width);
}

/**
 * Render calc() with vendor prefixes
 * Provide $fallback for not supportin browsers (IE8)
 */
@mixin calc($property, $value, $fallback: null) {
    @if $fallback {
        #{$property}: $fallback;
    }

    #{$property}: -webkit-calc(#{$value});
    #{$property}: -moz-calc(#{$value});
    #{$property}: calc(#{$value});
}
