// ================================================================
//  MIXINS
// ================================================================

/**
 * A flat button
 */
@mixin flat-button(
    $border-color: null,
    $background-color: null,
    $background-color-hover: null,
    $box-shadow-active: null,
    $text-color: null,
    $font-size: null
) {
    @include appearance(none);
    @include font-size($font-size);

    border: none;
    background: $background-color;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color: $text-color;
    font-weight: bold;
    padding: 13px;
    vertical-align: top;

    &:hover {
        @if $background-color-hover {
            background: $background-color-hover;
        }
    }

    &:active {
        @if $box-shadow-active {
            background: darken($background-color, 4%);
            box-shadow: $box-shadow-active;
        }
    }
}



/**
 * A gradient button
 * Provide either background-color or the gradient stops.
 * The stops will be calculated if only background color given.
 */
@mixin gradient-button(
    $border-color: null,
    $gradient-light: null,
    $gradient-dark: null,
    $background-color: null,
    $text-color: null,
    $font-size: null
) {

    @include flat-button (
        $border-color: $border-color,
        $background-color: $background-color,
        $text-color: $text-color,
        $font-size: $font-size
    );

    @if $background-color {
        $gradient-light: $background-color;
        $gradient-dark: adjust-hue($gradient-light, 8deg);
    }
    @include linear-gradient($gradient-light, $gradient-dark, $fallback: $gradient-dark);

    &:active {
        @if $background-color {
            $gradient-light: $background-color;
        }
        $gradient-light: darken($gradient-light, 6%);
        $gradient-dark: adjust-hue($gradient-light, 8deg);

        @include linear-gradient($gradient-light, $gradient-dark);
    }
}



// ================================================================
//  ATOMS
// ================================================================

/**
 * Regular blue button
 */
.cui__highlighted-button {
    @include flat-button(
        $background-color: $custom-color-button-background,
        $background-color-hover: darken($custom-color-button-background, 2%),
        $box-shadow-active: inset 0 3px 0 rgba(#000, .1),
        $text-color: $custom-color-button-color,
        $font-size: $flat-button-font-size
    );

    box-shadow: $flat-button-bevel;

    @include respond-to-ie {
        padding: 12px 14px 11px;
    }
    @include respond-to-wide {
        padding: 14px;
    }
}

.cui__highlighted-button__loader {
    $width: 14px;
    $height: 14px;

    @include retina-image($button-loader-image-url, $width $height, png);
    @include animation(spin 0.8s linear infinite);

    display: inline-block;
    overflow: hidden;
    width: $width;
    height: $height;
    vertical-align: text-bottom;
    font-size: 0;

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    .ie8 &,
    .ie9 & {
        @include font-size($flat-button-font-size);
        width: 100%;
        height: 19px;
        background-image: none;
    }
}


/**
 * Regular grey button
 */
.cui__non-highlighted-button {
    @include flat-button(
        $background-color: $bright-button-background,
        $background-color-hover: darken($bright-button-background, 1%),
        $text-color: $bright-button-color,
        $font-size: $flat-button-font-size

    );

    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.06),
                0 2px 4px rgba(#000, .075);

    @include respond-to-ie {
        padding: 11px 13px 10px;
    }

    @include respond-to-ie(8) {
        border: 1px solid #d8d8d8;
    }


    &:active {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: darken($bright-button-background-light, 2%);
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.06);
    }
}


/**
 * The buy button
 */
.cui__buy-button {
    $padding: 18px;
    @include flat-button(
        $background-color: $custom-color-button-background,
        $background-color-hover: darken($custom-color-button-background, 2%),
        $box-shadow-active: inset 0 3px 0 rgba(#000, .1),
        $text-color: $custom-color-button-color,
        $font-size: $buy-button-font-size
    );
    box-shadow: $flat-button-bevel;

    line-height: 1;
    padding: $padding;
    border-radius: 5px;

    &.is-disabled {
        @include flat-button(
            $background-color: #eee,
            $background-color-hover: #eee,
            $border-color: #aaa,
            $box-shadow-active: false,
            $text-color: #999,
            $font-size: $buy-button-font-size
        );

        border-radius: 5px;
        padding: $padding;
        box-shadow: none;
        opacity: 0.75;
    }

    &.is-loading {
        height: $buy-button-font-size + ($padding * 2)
    }
}

.cui__buy-button__loader {
    $width: 22px;
    $height: 22px;
    $image-type: 'png';

    @include retina-image($buy-button-loader-image-url, $width $height, $image-type, null, $retina-suffix);
    @include animation(spin 0.8s linear infinite);

    margin: 0 auto;
    width: $width;
    height: $height;
    font-size: 0;

    // Preload the image
    &:before {
        content: url($buy-button-loader-image-url + '.' + $image-type);
        width: 0;
        height: 0;
        display: none;

        @include hidpi {
            content: url($buy-button-loader-image-url + '@2x.' + $image-type);
        }
    }

    // IE8 and 9 don't support CSS animations, show the loader text instead.
    .ie8 &,
    .ie9 & {
        @include font-size($buy-button-font-size);
        width: 100%;
        background-image: none;
    }
}
