@import "shared/all";

// ================================================================
//  SETTINGS
// ================================================================
$header-margin: 16px !default;



// ================================================================
//  ATOMS
// ================================================================

/**
 * Main header
 */
.cui__main-header {
    position: relative;

    h1 {
        @include font-size(15px);
        background: #fff;
        color: #434343;
        display: inline-block;
        margin-top: 0;
        padding-right: $header-margin;
        position: relative;
        z-index: 1;
    }
}

.cui__subtle-header {
    h3 {
        @include font-size(10px);
        color: #a6a6a6;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 11px;
        -webkit-font-smoothing: antialiased;
    }
}
