// ================================================================
//  ATOMS
// ================================================================

.cui__label {
    @include font-size(13px);
    font-weight: bold;
    display: inline-block;
}
