// ================================================================
//  MIXINS
// ================================================================
@mixin tooltip-button($size) {
    @extend %tooltip__button;
    @include font-size($size);
}

@mixin tooltip-content($size, $direction) {
    $position-property: null;

    @if $direction == up {
        $position-property: bottom;
    } @else {
        $position-property: top;
    }

    @extend %tooltip__content;
    @include transform-origin($position-property center);
    @include tooltip-arrow($size, $direction);

    margin-left: $size/2 - 1px;
}

/**
 * Adds an arrow
 */
@mixin tooltip-arrow($size, $direction) {
    $triangle-position: null;
    $position-property: null;

    @if $direction == up {
        $triangle-position: down;
        $position-property: bottom;
    } @else {
        $triangle-position: up;
        $position-property: top;
    }

    #{$position-property}: $size + 8px;

    &:after {
        @include triangle($tooltip-arrow-size, $tooltip-arrow-color, $triangle-position);

        #{$position-property}: -1px - $tooltip-arrow-size;

        // IE8 doesn't support shadows
        @if $ie8 {
            #{$position-property}: -$tooltip-arrow-size;
        }
    }
}



// ================================================================
//  PLACEHOLDERS
// ================================================================

/**
 * Tooltip wrapper
 * Contains button and content
 */
%tooltip {
    display: inline-block;
    position: relative;

    // Set a line height to avoid unexpected margins
    line-height: 1em;

    z-index: 20;
}


/**
 * Tooltip button
 */
%tooltip__button {
    @extend .ss-icon;
    @extend .ss-info;

    cursor: pointer;
    margin-left: 4px;
    position: relative;
    top: 3px;
    display: inline-block;

    &:before {
        color: #c9c9c9;
    }

    &:hover + [class$="__content"] {
        display: block;
    }

    p {
        margin: 0;
    }
}


/**
 * Tooltip content
 */
%tooltip__content {
    @extend %animate-modal-in;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0 0px 0 2px rgba(0, 0, 0, 0.07);
    display: none;
    left: -$tooltip-content-width/2;
    line-height: $base-line-height;
    padding: 12px 16px;
    position: absolute;
    width: $tooltip-content-width;
    z-index: 1;

    &:after {
        // adding an additional division by 2 is a bit odd, but this works
        left: $tooltip-content-width/2 - ($tooltip-arrow-size/2)/2;
        content: "";
        position: absolute;
    }
}


// ================================================================
//  ATOMS
// ================================================================

/**
 * Small tooltip, above the tooltip icon
 */
.cui__tooltip--small--up {
    @extend %tooltip;

    [class$="__button"] {
        @include tooltip-button($tooltip-icon-size-small);
    }

    [class$="__content"] {
        @include tooltip-content($tooltip-icon-size-small, up);
        @include font-size(12px);
    }
}

/**
 * Small tooltip, below the tooltip icon
 */
.cui__tooltip--small--down {
    @extend %tooltip;

    [class$="__button"] {
        @include tooltip-button($tooltip-icon-size-small);
    }

    [class$="__content"] {
        @include tooltip-content($tooltip-icon-size-small, down);
        @include font-size(12px);
    }
}

/**
 * Large tooltip, above the tooltip icon
 */
.cui__tooltip--large--up {
     @extend %tooltip;

    [class$="__button"] {
        @include tooltip-button($tooltip-icon-size-large);
    }

    [class$="__content"] {
        @include tooltip-content($tooltip-icon-size-large, up);
        @include font-size(12px);
    }
}

/**
 * Large tooltip, below the tooltip icon
 */
.cui__tooltip--large--down{
     @extend %tooltip;

    [class$="__button"] {
        @include tooltip-button($tooltip-icon-size-large);
    }

    [class$="__content"] {
        @include tooltip-content($tooltip-icon-size-large, down);
        @include font-size(12px);
    }
}
