// ================================================================
//  General
// ================================================================
$ui-toolkit-path: "";

// ================================================================
//  Typography
// ================================================================
$base-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 21px;

$cta-button-font-size: 20px;
$flat-button-font-size: 15px;

// ================================================================
//  Page widths
// ================================================================
$max-width: 640px;
$mobile-max-width: 569px;

// ================================================================
//  Fields
// ================================================================
$field-horizontal-margin: 2%;


// ================================================================
//  Colors
// ================================================================
$klarna-blue: #0072CC;

// This properties can be overriden by the merchant styling
$primary-color-button-background: $klarna-blue;
$primary-color-button-color: #fff;

// This properties are *not* merchant overridable
$secondary-button-background: #fff;
$secondary-button-color: #555;

$tooltip-arrow-color: #ededed;

$input-box-shadow-color: #9a9a9a;
$input-box-shadow-color-inset: #d3d3d3;
$input-disabled-color: rgb(84, 84, 84);
$input-disabled-background-color: #f6f6f6;
$input-error-background-color: #FCF2F3;
$input-error-background-color-rgba: rgba(255, 0, 0, 0.05);
$input-warning-background-color: #FEFCE8;
$input-warning-background-color-rgba: rgba(255, 255, 0, 0.05);
$input-tooltip-text-color: #D0021B;
$input-tooltip-text-color--warning: #ECB801;
$input-editor-color: #595959;
$editor-placeholder-color: #a9a9a9;

$divider-border-color: #F2F0F0;
$form-border-color: #CBCBCB;
$input-border-color: #CBCBCB;
$input-border-color-focus: #0072CC;
$input-border-color-disabled: #a6a6a6;
$preview-border-color: #CBCBCB;
$secondary-button-border-color: #CBCBCB;
$selector-border-color: #CBCBCB;



// ================================================================
//  Checkbox
// ================================================================
$checkbox-size: 24px;
$checkbox-background: #0072CC;
$checkbox-border: #ddd;
$checkbox-font-size: 13px;


// ================================================================
//  Input
// ================================================================
$input-line-height: 14px * 1.5;
$input-border-radius: 5px;
$invalid-text-top-offset: 1.5;


// ================================================================
//  Header
// ================================================================
$header-margin: 16px;


// ================================================================
//  Buttons
// ================================================================
$button-border-radius: 5px;


// ================================================================
//  Tooltip
// ================================================================
$tooltip-content-width: 190px;
$tooltip-arrow-size: 16px;
$tooltip-icon-size-small: 14px;
$tooltip-icon-size-large: 17px;


// ================================================================
//  Switch
// ================================================================
$switch-width: 48px;
$switch-height: 24px;
$switch-background: #0072CC;
