// ================================================================
//  General
// ================================================================
$ui-toolkit-path: "";

// ================================================================
//  Typography
// ================================================================
$ss-pika-path: 'fonts/ss-pika/ss-pika';

$base-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 21px;

$buy-button-font-size: 20px;
$flat-button-font-size: 15px;

// ================================================================
//  Page widths
// ================================================================
$max-width: 640px;
$mobile-max-width: 569px;

// ================================================================
//  Fields
// ================================================================
$field-horizontal-margin: 2%;


// ================================================================
//  Colors
// ================================================================
$klarna-blue: #0089cf;

// This properties can be overriden by the merchant styling
$custom-color-button-background: #0089cf;
$custom-color-button-color: #fff;

// This properties are *not* merchant overridable
$bright-button-background: #fff;
$bright-button-color: #555;

$tooltip-arrow-color: #ededed;

$input-box-shadow-color: #a6a6a6;
$input-box-shadow-color-inset: #d3d3d3;
$input-disabled-color: rgb(84, 84, 84);
$input-disabled-border-color: #a6a6a6;
$input-disabled-background-color: #f6f6f6;
$input-border-color-focus: #0089CF;
$input-tooltip-background-color: #FD7070;
$input-tooltip-background-color--warning: #FFAF00;
$input-editor-color: #595959;
$editor-placeholder-color: #a9a9a9;


// ================================================================
//  Checkbox
// ================================================================
$checkbox-size: 24px;
$checkbox-background: #0089cf;
$checkbox-border: #ddd;
$checkbox-font-size: 13px;


// ================================================================
//  Input
// ================================================================
$input-line-height: 14px * 1.5;
$input-border-radius: 3px;
$invalid-text-top-offset: 1.5;


// ================================================================
//  Header
// ================================================================
$header-margin: 16px;


// ================================================================
//  Buttons
// ================================================================
$flat-button-bevel: inset 0 1px 0 rgba(255, 255, 255, .1), inset 0 -3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);


// ================================================================
//  Tooltip
// ================================================================
$tooltip-content-width: 190px;
$tooltip-arrow-size: 16px;
$tooltip-icon-size-small: 14px;
$tooltip-icon-size-large: 17px;
