// ================================================================
//  General
// ================================================================
$root: '../';

// ================================================================
//  Typography and baseline
// ================================================================
$base-font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$grid: 5px;
$content-main-width: 102; // $grid * 102

// ================================================================
//  Breakpoints
// ================================================================
$mobile-max-width: 569px;

// ================================================================
//  General colors
// ================================================================
$colors: (
  klarna-blue: #0074c8,
  klarna-blue-hover: darken(#0074c8, 5.2),
  morning-blue: #1a8cdc,
  black: #3c3c3e,
  block-hover: #f9f9f9,
  grey-text: #9e9ea0,
  grey-lines: #cbcbcd,
  light-grey: #f5f5f7,
  modal: #46505a,
  white: #fff,
  cello: #364759,
  red: #F52727,
  orange: #FF8932,
  green: #23BA73,
  brown: #B3815F,
  purple: #AC71CA,
  light-blue: #61B2EB,
  ultramarine: #2CC4B0,
  yellow: #FFC000,
  grey-label: #617788,

  blue-hover: #66aae0,
  blue-focus: rgba(26, 140, 220, .8),
  blue-shadow: rgba(26, 140, 220, .6),
  error: #e63200,
  error-hover: #ef8b6f,
  error-border: #e6bebe,
  error-shadow: rgba(230, 55, 6, .4),
  warning: #ecb800,
  warning-hover: #e2af4a,
  warning-border: #e6c88c
);

// ================================================================
//  Open Sans' weights
// ================================================================
$font-weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700
);

// ================================================================
//  Borders
// ================================================================
$border-radius: $grid;
$border-radius-checkbox: ($grid * .4);
$border-color: map-get($colors, grey-lines);
